[2017-02-27 20:50] xhdong-umd opened #1 "Summary of issues fixed, features added on Feb, 2017"
In the future every issue and feature will be recorded in Issues individually. To add previous finished issues retroactively now will be too much, instead this is a short summary.

## Jan.26, 2017

This is the first beta version 0.0.1 with a simple but complete workflow, start from data uploading to home range estimation.

## Feb.24, 2017

This is the alpha version 0.0.2.  [Demo video](http://www.

[2017-02-27 20:51] #1 closed

[2017-02-27 20:52] xhdong-umd opened #2 "chose best unit for measurements in time, distance etc"
data summary and plot should have best unit adjusted according to dat range.

- wait for `units` package [support of user defined units](https://github.com/edzer/units/pull/31)
- option to turn it on/off
- somewhat related: `ddays(6) + dhours(8)`  usage of lubridate to replace current manual conversion on time?
- the variogram fit control changing unit with scale. option to keep it fixed or show t

[2017-02-27 21:00] xhdong-umd opened #3 "basic test of movebank api calls"
In the process of finding movebank sample data I found the movebank search interface difficult to use. There is no way to filter by data availability or data size. Very often I chose a study only to find there is no data to download. `move` package cannot help here too.

I looked at the available api calls and found it's possible to get a better interface to filter and find data set.

There is als

[2017-02-27 21:03] #3 closed

[2017-02-27 21:05] xhdong-umd opened #4 "methods to save user name and password for movebank"
1. we cannot save it in server because we don't have user registrations right now, we cannot recognize who is who. In the future if we add user registration for the Shiny app, we can save this more securely.
2. that leaves two option:
- one time input, good for one session.
- save to user local environment.
  + [html5 local storage](https://github.com/trestletech/shinyStore). This only works in br

[2017-02-28 20:41] chfleming opened #5 "Outlier detection"
Between the data importing step and the time subsetting step there eventually needs to be an optional outlier detection step, where users can remove gross outliers and re-project the data if necessary.

There are two obvious ways to facilitate outlier detection. One is to sort the data by distance from median and allow the user to flag the most extreme locations---perhaps by coloring them in red o

[2017-03-01 15:17] xhdong-umd commented on #5
Is the dataset 1 below the one you mentioned?

For the arrangement of UI, I'm thinking to add two tabs in data page, animal location plots, between 3 and 4, named as "outliers in location", "outliers in speed".

For selecting the outliers, will zoom + brush (use mouse to drag a rectangle) in plot be enough? With every selection, click a button to add them to list, and the selected points will have

[2017-03-01 15:28] xhdong-umd opened #6 "side bar page arrangement"
Since we are using `Visual Diagnostics` in one page, and we are adding more pages, should we use two words for more of pages? Like this:
- Import Data, this will cover user upload and movebank download
- Visualization, all the plots, outlier detection. I thought about `Visual Inspection` first, but don't want it to be too similar with `Visual Diagnostics`
- Time Subsetting
- Autocorrelation Visual

[2017-03-01 17:50] chfleming commented on #5
You want the GPS data, not the VHF data. It will look like the clean buffalo data, but with many duplicate entries and half a dozen outliers.

I would assign the average speed to the in-between time location and then the lower and upper speeds to the first and last times.

[2017-03-01 17:52] chfleming commented on #6
Variograms and Periodograms can eventually go under one section titled something like "Autocorrelation visualization". (That section will eventually have a couple more entries too). Model fitting needs to be its own group, I think, because there are complications when you have telemetry error to model, etc..

[2017-03-01 17:54] xhdong-umd commented on #5
If using average speed, we actually smoothed the speeds with a sliding window. Will this make the outlier less obvious?

[2017-03-01 17:56] xhdong-umd commented on #6
OK, we definitely will adjust the names with the progress. I edited the first comment a little bit to use `Model fitting` instead of `Modeling`.

[2017-03-01 18:04] xhdong-umd commented on #6
Hi Chris,

Did you join the meeting now?

On Wed, Mar 1, 2017 at 12:52 PM, Christen H. Fleming <
notifications@github.com> wrote:

[2017-03-02 01:49] chfleming commented on #5
A sliding window average will make the outlier less obvious.

[2017-03-02 02:03] chfleming commented on #2
1. Right now everything is in SI units internally.
2. I throw these numbers into the internal unit() function with a dimension specification and it chooses the most parsimonious units and gives its labeling and scaling information.
3. I then have unit.class() functions that can convert the units on all of my class objects (This naming is bad, unit() should be pick_units() and unit.class() should b

[2017-03-02 14:00] xhdong-umd commented on #2
Based on my limited understanding now, the problem my ggplot2 plots are based on data frame instead of object. If I change the unit before plotting, I changed the values in data frame, then I need to associate the changed value with the current unit somewhere. With a object it's easy to carry a unit label, but for the data frame I need to keep the unit label somewhere, maybe outside of the data fr

[2017-03-06 16:05] xhdong-umd opened #7 "individual plot 3 cannot deal with single animal data"
Because the code relied on the name of list items from `ext_list <- lapply(tele_objs, extent, level = level)`, simply wrap single object with `list(tele_objs)` still don't have the animal name in it.

The individual plot itself doesn't add value for single animal data, but the quantile slider in this plot is still useful so we still want it to work.

[The ideal solution is to have `as.telemetry` a

[2017-03-06 18:43] xhdong-umd commented on #7
Added helper function to wrap single object and fixed problem. Changing it in `ctmm` will have quite substantial impact. Still possible but need more consideration.

[2017-03-06 18:43] #7 closed

[2017-03-07 15:11] #4 closed

[2017-03-08 17:40] xhdong-umd opened #8 "search study, filter study, select, download, import"
All features have been completed.  And I recorded [a demo video here](https://www.youtube.com/watch?v=eKTo2L63TIE).

There are some limits in saving user name and password, and some complexities in data download. See the two help pages for more details.

[2017-03-08 20:53] xhdong-umd opened #9 "deal with single location individual data"
[See reference](https://github.com/ctmm-initiative/ctmm/issues/9)

[2017-03-08 21:13] xhdong-umd commented on #8
@chfleming I tried to at least include the animal name in the download.

From the buffalo data it seemed that the name came from column `individual-local-identifier`. This can be obtained with a separate inquiry. So this is doable but I'm not sure if all data have this column, or if they will use other columns for name.

Do you think we need to add more attributes in data? What attributes in websi

[2017-03-08 21:43] chfleming commented on #8
So there are multiple possible names for the individuals that I try to capture in the 0.3.6 version of the package.

Then there are multiple versions of error/HDOP that I try to look for, import, and standardize. These can be used and are necessary if the sampling rate is small.

In the future there are also error ellipse columns that I will import and use. And there are speed & heading columns th

[2017-03-09 18:34] xhdong-umd commented on #8
I just checked if `move` can download more complete data. It did read local-indentifier like this, though it probably don't have the entire csv, just made more specific inquiries.
![Uploading Screen Shot 2017-03-09 at 1.32.03 PM.png…]()

So maybe I can add a button to download the study with `move`?

[2017-03-09 19:34] xhdong-umd commented on #8
I added a checkbox for studies owned by user. Though my account don't have any study so I cannot really test if it works. I have updated the app in repo so you can test it when you have time.

[2017-03-09 19:50] xhdong-umd commented on #8
@chfleming Do you think we should add the feature to download by `move`?

It's easy but will add quite some package dependencies. I'm not sure if the benefit would overweight the burdens. If we don't need the other functionalities of `move` I'm inclined to skip it.

[2017-03-09 20:31] xhdong-umd commented on #9
fixed now.

[2017-03-09 20:31] #9 closed

[2017-03-09 20:41] chfleming commented on #8
I think we should only import Movebank data from Movebank if we can get **all** of the columns. Whether that is done with the `move ` package or with the Movebank API, I don't care.

[2017-03-09 20:47] xhdong-umd commented on #8
`move` probably will not get all columns. It has its own choices. If all possible columns are accessible from the API, I can try to retrieve them all.  I'll also ask Movebank about to confirm this.

If some columns are only available in website download but not in API, the whole movebank download page become useless then. I should find out this earlier instead of after finished all the features!

[2017-03-09 21:12] xhdong-umd commented on #6
Closing now. Will reopen when there are new changes needed.

[2017-03-09 21:12] #6 closed

[2017-03-10 16:09] xhdong-umd commented on #8
I tried to get more attributes through API. It's impossible to find out the right syntax just by reading the documentation. With reading `move` source code I managed to get some attributes, though it's time consuming and may not be thorough.

For all the extra columns usage, will ctmm take `MoveStack` object input too? I found `MoveStack` object have some extra information but not in a simple data

[2017-03-10 16:19] chfleming commented on #8
`ctmm` can import `MoveStack` format files fairly well, but let's put this on hold until we can make sure that either using the API or using `move` will return all of the original columns.

[2017-03-10 21:39] xhdong-umd commented on #2
After reviewing `units` package and our needs in the app, I decided to just use existing methods. Turned out the `scales` for `ggplot` is easy to work with. I just pick the best unit, then feed the function to ggplot then I have the axes in correct label without need of changing internal values.

[code]

Then I used similar method on the data summary table and got the result I want.

I think Justi

[2017-03-11 01:51] chfleming commented on #2
In the plots it is not important to have the option for raw units. I would not implement that feature.

In the model and home-range summaries/reports this option becomes important. Raw units makes it easier for people working with many individuals (possibly of different species) to make comparisons.

[2017-03-13 15:25] xhdong-umd commented on #2
I implemented units conversion for distance, time in plots and all summaries. Added switch for seconds/normalized units in the data summary table. Will add similar switches in summaries/reports when needed.

[2017-03-13 15:25] #2 closed

[2017-03-13 15:46] xhdong-umd commented on #5
This task could need a lot of space so it will need a separate page. I'm thinking add a sub menu under `Import Data`, and add a button in `Import Data` page. So user can skip this step if it is not needed, and he can also take this extra step, then the `Visualization` page will take the filtered dataset.

[2017-03-13 15:57] xhdong-umd commented on #5
It seemed that when you added sub menu in Shiny dashboard, clicking the parent menu will only fold/unfold the submenus. So I have to make menu like this:

- Data
  + Import Data
  + Filter Outliers

[2017-03-13 19:00] xhdong-umd commented on #5
I think the outlier should be defined for each animal separately, so the detection procedure should start on individual animal. We better have an overview mode to let user know which animal have outliers to pick in a glance. There are actually quite some similarities with current plots, like the histogram facet in time could be adapted to distance histogram facet, and the time subsetting page form

[2017-03-13 23:11] chfleming commented on #5
- Yeah, outlier detection should definitely be per animal.
- Later on when we have maps overlays implemented, that will help for animals near water/land boundaries.
- Also, some way to visualize the HDOP/HERE column (if imported) could be helpful as high HDOP locations should be allowed to be a little more erroneous.

Skip these last two points for now though.

[2017-03-13 23:32] xhdong-umd commented on #5
OK. I added the last two points to a note in project `plots` so we can revisit them later.

[2017-03-16 20:10] xhdong-umd commented on #8
@chfleming With help from people at `movebank` I think I can pull any attribute included in API now.

I'm looking at all the possible attributes list but I cannot find some of the useful columns you mentioned. Do you have some sample data (movebank id) for all the possible extra columns you mentioned? It don't have to cover every case, but at least one data for each category of columns.
- differen

[2017-03-23 14:40] xhdong-umd opened #10 "[new feature] in plots"
- added zoom feature to time subsetting plot. In the future any plot can have zoom with simple function calls.
- added point size slider to plot 1 and 3. Sometimes a different point size may be optimal when plot was zoomed in.

[2017-03-23 14:40] #10 closed

[2017-03-23 14:46] xhdong-umd commented on #8
@chfleming I haven't meet any study that have multiple sensor types although it seemed possible. If there are multiple sensor types, should we download a mixed file with a sensory type column, or we want a separate file for each sensor type? That will need some extra UI to select sensor type.

[2017-03-23 15:30] xhdong-umd commented on #8
The sensory type question is not relevant now. I was planning to download the whole csv directly by simulating the download request in website visits, but that link only works in a small percentage of times. I guess it need to have a valid session established in the website visits, so it will not work in our app.

Another approach is to query what kind of columns are available for study, then asse

[2017-03-23 16:02] xhdong-umd commented on #8
Closed now. Will reopen when
- there is update in Movebank API
- we decided to remove the direct download if it caused confusions

[2017-03-24 14:15] xhdong-umd commented on #5
I'm wondering if we need a cleaning process for obvious mistakes in data.

In calculation of speed, the old buffalo data have 3 rows of `diff_t` as 0, thus get speed as `Inf`.

We can
- remove the rows in all analysis as a data cleaning step. There are also some common errors can be cleaned. Though sometimes the rows may only have mistake in one column, the other columns are still valid. This appr

[2017-03-24 14:17] xhdong-umd commented on #5
Another thing I want to make sure about it:

The data returned by `as.telemetry` should have all records sorted by timestamp for each animal, right? I'm assuming they are always sorted, just want to make sure.

[2017-03-24 14:45] chfleming commented on #5
Right now I remove duplicate rows of the data.frame, but not duplicate times. Duplicate times are actually okay with an error model (but not okay without an error model), as they can give you more information about the error model parameters and the location at around that time. But removing duplicate (or nearly duplicate) times can also be a useful option for people that have otherwise regular &

[2017-03-24 15:13] xhdong-umd commented on #5
By interpolation I mean the rows with 0 diff_x is having same timestamp with next row, but we can take the middle point of time of previous and next row as an estimate for this row.

For the speed outlier detection, if we don't do interpolation, the row with duplicate times cannot have a speed so they have to be excluded.

So the user option of removing some rows should be put in the modeling stag

[2017-03-26 02:23] chfleming commented on #5
Users should have the option to remove duplicated times, both individually and as a group. Whether this happens in the same stage as the speed filter is another question. The speed filter will prioritize high speed times, and duplicate times would result in an infinite distance/time speed estimate, so it seems like it would work to me.

[2017-03-27 15:44] xhdong-umd commented on #5
ggplot2 will remove the infinite speed values in speed histogram by default, otherwise the axis will be too stretched. So those points cannot be selected by the histogram mouse selection operation. I think we can just mark them as outliers automatically, but notify users these cases, maybe include them in the excluded points list by default.

[2017-03-27 20:53] xhdong-umd commented on #5
Here are some plots I made, and I'd like to hear some comments before I start to implement them in app @chfleming @jmcalabrese

## distance to median center histogram
This facet histogram will be used to determine which animal need to have outlier filtered out. Note I limited the y axis otherwise the few outlier can be too small to be visible compared to the majority group. Basically all count abo

[2017-03-28 01:04] chfleming commented on #5
My experience is that for the speed plots it can be useful to make a plot per outlier that is zoomed in and focused on a short segment of times centered on the outlier. The buffalo are in a regime where they can potentially sprint across their home range on the scale of the sampling interval, but for other species, speed outliers can be less obvious.

Also, I think it would be nice in both cases t

[2017-03-28 13:15] xhdong-umd commented on #5
I'll add units to all plots.

For zoom in and highlight on time range, it was the original plan to select speed range in speed histogram, then highlight the selected points and their time neighborhoods. Current plots are static so I didn't implement that yet.

I think if the scatter plot support zoom with mouse, then we don't need to zoom in the plot for the time range automatically, right? It wil

[2017-03-28 18:08] chfleming commented on #5
Definitely for the speed filter and probably also for the location filter, I think there should be a numeric input widget where `INTPUT` runs from `1` to the `length(DATA$t)` with the up/down arrows incrementing by `1`, where an input of `1` corresponds to the most extreme time and an input of `length(DATA$t)` corresponds to the least extreme time. Specifically, if you take the array of distance f

[2017-03-28 18:19] chfleming commented on #5
Also, I think the outlier filtering should be one animal at a time. @jmcalabrese might have an opinion on this too.

[2017-03-28 18:40] xhdong-umd commented on #5
The histogram facet is to give user an overview and hint which animal may need outlier filtering. Then user choose one animal to start the real filtering process, which will be quite similar to the time subsetting page, with a histogram linked with a scatter plot.

[Shiny doesn't have a input control with up/down arrows](http://shiny.rstudio.com/gallery/widget-gallery.html). We can have a sortable

[2017-03-28 19:06] chfleming commented on #5
"Numeric Input" has up/down arrows (though they are ridiculously tiny on my webbrowser). Your idea of a sorted table is probably better though. It wouldn't hurt to have all three columns: timestamp, distance, speed, as outliers of distance are also likely to be outliers of speed. Maybe clicking on the distance/speed would sort the table by that quantity, and switch between distance/speed filtering

[2017-03-28 19:11] xhdong-umd commented on #5
You are right, I didn't even find the arrows. They are so tiny and only appears when I clicked it.

I'm not sure if we should mix the distance and speed outlier detection in same page. Keep them separated seemed to be more straightforward. There are a lot of similarities among time subsetting, and distance/speed outlier filtering.

[2017-03-29 13:10] xhdong-umd commented on #5
Are these speed values normal? I saw some 400 km/day values seemed to be valid data. Though this unit came from 24 hours count, which could make it looks bigger than reality. Will km/hour be a better combination for speed unit?

![speed_his_unit](https://cloud.githubusercontent.com/assets/25039897/24455978/827e3194-145f-11e7-92d3-9f0d35f6201f.png)

[2017-03-29 14:09] chfleming commented on #5
I don't know that the units need to be converted from m/s here, but just that the units needed to be given on the axes. For judging high speeds, I would think m/s or km/hr would be easiest for people.

400 km/day is not entirely unrealistic, depending on the species. Coarser data actually makes the distance/time estimate too small (when above the scale of error).

[2017-03-29 14:12] xhdong-umd commented on #5
Oh I just used the `ctmm::unit` function to pick the best unit. So for speed we can always use `m/s` or `km/hr`, right? Which one should we use?

[2017-03-29 14:16] chfleming commented on #5
`ctmm:::unit` was designed for reporting realistic speed estimates from the models. I will update `ctmm:::unit` to handle unrealistic scales of speed and you can keep your code as is.

[2017-03-29 14:19] xhdong-umd commented on #5
OK, thanks! This is not in a hurry so please take your time. I don't want to interrupt your normal work flow.

[2017-03-29 17:37] jmcalabrese commented on #5
Ok, getting up to speed with this discussion...

- I agree that per individual outlier filtering is necessary

- I like both the distance and speed facet histograms for identifying outliers

- For infinite speeds (0 dt), perhaps adding a notification label on the panel for that individual would be an easy way to incorporate that info in the speed facet histogram without blowing up the x axis?

- I

[2017-03-29 17:40] jmcalabrese commented on #5
Looking at these facet histograms got me wondering how well all of these multi-individual plots we're using are going to scale as the number of inds gets large. Some studies are now collecting data on hundreds of individuals. What would happen to these plots in such cases?

[2017-03-29 17:43] jmcalabrese commented on #5
Regarding the speed arrows, I think I would need to see some examples of their use when the plot is zoomed in on the outlier and some surrounding times. I didn't find zoomed out view shown above useful as it is way too busy.

[2017-03-29 17:56] xhdong-umd commented on #5
The studies with lots of individuals do have some challenges.

### For the outlier detection

If the decision can be made based on histogram alone, then histogram don't have to be per individual. We could just draw one histogram and let user exclude points.

Then we can have a scatter plot highlighting the selected points in one color, all the points from same individual in one color, and the medi

[2017-03-29 20:40] xhdong-umd commented on #5
After zoomed in and only draw related points, I found drawing paths are better than arrows:
- path show the movement order, clearly show how the outlier was related to its time neighbor
- the path length itself represented the speed, assuming most sampling time are same.

Here is an overview plot with outlier points as red cross, their time neighbor points in blue
![speed_path_overview](https://cl

[2017-03-30 17:42] xhdong-umd opened #11 "For data with multiple individuals > 20"
I found the visualizations we used can only deal with individuals <= 20. Higher count will have the coloring by individual and facet useless. My plan is:

**For visualization**
When individual count > 20
- facet will not be drawn. Either give a warning or draw a non-facet version.
- location overview will not have coloring by individuals

If user selected some individuals in the data summary table

[2017-03-30 18:32] xhdong-umd commented on #5
I start to believe we only need one type of outlier detection. The speed method considered both distance to previous point and time passed. I would say any distance outlier will be a speed outlier, and speed outlier may not be distance outlier.

The only exception is the last point in data, which don't have a speed definition currently but could be a outlier in location. Then the point before it w

[2017-03-30 23:56] chfleming commented on #5
Thinking more about this, I think for the purposes of identify outliers the assignment of speed to sampled times should take the minimum adjacent value, like the following:

[code]

Using `pmin` like this will more cleanly separate the outliers from the regular data.

The only false positives then would be times 1,n, if times 2,n-1 were outliers. But that could be fixed a bit by extending the comp

[2017-03-31 00:44] dracodoc commented on #5
If there are point i, i+1 both at far end but close to each other, the speed of i-(i+1) is small, then a b will take smaller value and looks like normal. So the big speed of (i-1)-i was not taken by any point and got lost.

This case also kind of defeat my plan of use speed only without distance. Though after i was removed then i+1 will be recognized after the reprojection, so it can work but that

[2017-03-31 05:45] chfleming commented on #5
I think the likelihood of two outliers being close together should be extremely low.

[2017-03-31 09:17] vestlink commented on #11
Maybe you could think about making tabs of individuals =< 20 and add new tab(s) for the remaining number of animals?

[2017-03-31 09:26] vestlink commented on #5
Would it be an idea to have a possibility for the user to be able to input the maximum speed the species in question is able to do?

[2017-03-31 13:00] xhdong-umd commented on #5
@vestlink , the histogram will show all speed values grouped. User can select any speed value range in the histogram with mouse, then selected points will be highlighted for further inspection.

@chfleming , we need to explain how we define the speed to users. The single side speed or average speed are straightforward, but I'm not sure if user can understand why we choose `pmin` immediately.

Now

[2017-03-31 13:05] xhdong-umd commented on #11
I'm not sure if my understanding of tabs is correct. Do you mean put several tabs in the UI, each tab will show 20 individuals? So the UI will show
- no tab, one plot
- have n tabs, n depend on individual count

And there are quite several plots, facets need to be adjusted.

[2017-03-31 14:09] jmcalabrese commented on #11
I assume "vestlink" is Mike? Mike suggested the "tabs" idea the other day when we spoke. I think the idea is to set some number max number of individuals (say M=6, or 8, or whatever still looks reasonable in a facet plot), and then if N > M, make facet plots only for the first M. Then give the user the option move through the entire dataset M individuals at a time. That could be accomplished by ha

[2017-03-31 14:15] xhdong-umd commented on #11
Having too many tabs could clutter the UI, especially when the tab count is not fixed. Set a page number and move through data seemed like a good idea.

I'm thinking use a range slider like this
<img width="398" alt="screen shot 2017-03-31 at 10 13 09 am" src="https://cloud.githubusercontent.com/assets/25039897/24554190/b22a8216-15fa-11e7-875c-2a2df7e0e0d4.png">

User could select any range in a b

[2017-03-31 14:18] jmcalabrese commented on #11
Sounds reasonable. Give it a try and we'll see how it works.

[2017-03-31 14:23] xhdong-umd commented on #11
I just realized the slider selection will conflict with the row selection in data summary table, because the data summary table have all individuals listed, a slider will need to update the summary table too otherwise there will be individuals outside of slider range listed in table.

Actually the data summary table is a perfect control for "page through" already. We just plot the individuals show

[2017-03-31 14:27] jmcalabrese commented on #5
@xhdong-umd , correct me if I'm wrong, but it doesn't seem like it would be hard to just implement these these different definitions of speed and see which works best in practice. If we go with Chris' definition, then yes, it would have to be explained as it is not super intuitive.

[2017-03-31 14:29] xhdong-umd commented on #5
Yes the speed definition is easy to change so we can try various approaches and compare them. I'll implement all of them and let's test with different datasets.

[2017-03-31 14:32] jmcalabrese opened #12 "Code in ctmm vs. shinny app, pack app into package"
One thing I've been thinking about lately is that the shiny app is gaining functionality that the command line version of ctmm does not have. Some users may want to stick with the command line, particularly if they are automating analyses, and may want access to some of the shiny app features. Should we think about migrating some of the code that enables the additional functionality into ctmm some

[2017-03-31 14:34] jmcalabrese commented on #11
That sounds great, let's go with that.

[2017-03-31 14:43] xhdong-umd commented on #11
@jmcalabrese We can keep the issue open, until I implemented the feature and everybody tested with it. This way it's easier to track the open tasks.

[2017-03-31 14:44] jmcalabrese commented on #11
Ok

[2017-03-31 14:50] xhdong-umd commented on #12
Here is a brief list on top of my mind, just to open the discussion.

### data representation
- `ctmm` put multiple individuals into a list of objects, which have its advantages. I merged all individuals into a data frame with a column `identity` because `ggplot` require this structure. I'm not sure if the data frame format may also have some advantages in interactive command line analysis.

### p

[2017-03-31 15:01] jmcalabrese commented on #12
@xhdong-umd: I don't think we need to do this yet, and I don't want you to do anything that slows down development of the shiny app, I just think it is worth thinking about for the longer term. Modularization may be the way to go.

I would like to hear @chfleming's thoughts on this.

[2017-03-31 15:03] xhdong-umd commented on #12
Yes sure, this is just brain storming. I'm thinking on module a lot because the time subsetting, distance/speed outlier detection will share a lot of common features.

[2017-03-31 15:58] xhdong-umd commented on #11
I just pushed the updated code to repo. You can play with it to see the effect. All plots should respond to the current page in `Individuals` table. The count per page can be changed, so with buffalo data you can change count to 4 or 2.

[2017-03-31 19:02] chfleming commented on #5
If there are multiple outliers, with a range of deviations, then the average adjacent speed is going to mix up the ordering of outliers and their adjacents. This doesn't happen in the above example, where their deviations are comparable, but it is very common and I have seen multiple times. Minimum adjacent speed is less intuitive maybe, but it only gives false positives with back-to-back correlat

[2017-03-31 19:37] chfleming commented on #12
I would think about modularization and/or having standalone ggplot functions going forward and keep it in mind when making coding choices, but I wouldn't let it slow down current development, which is more important.

The analysis modules would be "wizards", essentially? That might be a very good idea. Lots of people will be using the command line but still need guidance.

[2017-03-31 19:45] xhdong-umd commented on #12
I'm thinking of each **page** as a suite of functions for one specific analysis stage. All features inside one page are related, so it make sense to launch them all together, like open all plots in one command.

The pages will offer interactive control and some analysis features, user can insert any analysis or data manipulation between pages.

[2017-04-01 16:47] vestlink commented on #11
No problem. I really enjoy following these discussions :)
btw i'm not Mike but Nicolai from Norway :D

[2017-04-01 22:32] chfleming commented on #11
Looks good to me.

[2017-04-03 16:59] jmcalabrese commented on #11
Just went to check this, and seems like this part of the shiny app is currently broken, so unable to verify.

[2017-04-03 17:14] xhdong-umd commented on #11
@jmcalabrese what's the error? Do you have a screenshot?

I just updated [the online app](https://ctmm.shinyapps.io/dashboardalpha/) so you can check that one without installation.

[2017-04-03 17:31] jmcalabrese commented on #11
Digging into it a bit, the error seems to be with ctmm:

Error in get(method, envir = home) :
  lazy-load database '/home/justin/R/x86_64-pc-linux-gnu-library/3.3/ctmm/R/ctmm.rdb' is corrupt

I've had this a couple of times before, both on mac and linux, but haven't figured out why it occurs or the specific conditions that trigger it. The particular install of ctmm that did this worked fine on Fri

[2017-04-03 17:35] chfleming commented on #11
I don't know what causes that, but it happens enough that I had already put it in the FAQ: https://ctmm-initiative.github.io/ctmm/reference/ctmm-FAQ.html

[2017-04-03 17:37] jmcalabrese commented on #11
RE using the Individuals table to control the content of the plots, I agree with Chris that it looks good and works well.

What is the default number of individuals per page when the total number of inds in the dataset >20?

[2017-04-03 17:43] xhdong-umd commented on #11
That could because the package was not installed/uninstalled properly. When a package is loaded in R session, installing a new version need to unload/detach it first. It's pretty often that the package was uninstalled but not detached properly when there are dependency packages in use. So to upgrade a package, the safest method is always **remove the package, restart R session, install new version

[2017-04-03 17:52] jmcalabrese commented on #11
Like I said, that happened this time on an install of ctmm that had previously (last week) worked fine, so I don't think it was related to the installation process per se. In the past, though, I have also seen that problem immediately after newly installing ctmm. Will watch out for it going forward to try to nail down the conditions that cause it.

A default of 6 per page is reasonable. We can, of

[2017-04-04 15:32] #11 closed

[2017-04-07 14:00] xhdong-umd opened #13 "fixed bug caused by cut on datetime"
The base R function `cut.POSIXt` has a bug that cannot cut datetime into a number of intervals if the interval value are in-between input values. I sent email to `r-devel` and discussed the details in `lubridate` [issue](https://github.com/hadley/lubridate/issues/65).

Now I just extracted a part of `cut.R` into a new function and wrote a proper cut for my need.

I found the breaks generated from

[2017-04-07 14:00] #13 closed

[2017-04-11 15:32] xhdong-umd commented on #5
@chfleming , in the extended definition of pmin speed, there will be `N-1` values from `diff` on `N` points, so `n = N-1`. The second part `c(SPEED,sqrt((x[n]-x[n-2])^2+(y[n]-y[n-2])^2)/(t[n]-t[n-2]))` is actually using the speed from `N-3` to `N-1`. Since the first part used `1` to `3`, I assume you wanted to use `N-2` to `N`, right?

[2017-04-11 17:51] chfleming commented on #5
Your assumption is correct.

[2017-04-12 18:30] xhdong-umd opened #14 "accept saved R object as input"
Sometimes user may have processed data in R and want to load it into the web app.

Because there are lots of possible ways of saving data, and the app need to have some assumptions for data, it's better to follow some rules.

- Save single R object in `RDS` format with `saveRDS`. The more commonly used `save` write R objects with their names, thus importing a `Rda` file could override existing obj

[2017-04-12 20:02] xhdong-umd commented on #5
New updates to app on outlier detection:
- The scatter plot will draw all points in color with small point size by default, any mouse selection in histogram will highlight points in range with much bigger point size. This make it easier to locate the points without need to drag the slider every time.
- It seemed that if we remove a page from the sidebar it will not be visible no matter what. Now I

[2017-04-12 20:38] chfleming commented on #5
Regarding duplicate times, if they are the result of truncation error, then it would be approximately ok to use instead of `diff(t)` directly,

`dt = diff(t)
if(any(dt==0)) { dt[dt==0] <- min(dt[dt>0]/2 }`

and this might also work ok in general. Its certainly better than nothing.

[2017-04-12 20:59] xhdong-umd commented on #5
So we assign half of minimal sampling time as time difference. If there are 3 points with same time, 2 of them will get half sampling time, then if we add dt to get the timestamp, the 3rd one will have same time with 4th point.

[code]

then

[code]

Of course I'm just inventing case here, this may be very rare.

[2017-04-12 21:48] dracodoc commented on #5
I'm not sure about how duplicated times were generated.

Depends on the nature of the error, one approach is to interpolate timestamps. If 'i', 'i+1' have same time, we can interpolate 2 timestamps between 'i-1' and 'i+2' and assign to them. This can be a part of data cleaning if reasonable.

Intuitively a speed outlier should be a location outlier to its time neighborhoods, assuming even sampling

[2017-04-13 00:11] chfleming commented on #5
It is impossible for a single GPS device to take multiple fixes at exactly the same time, so, at minimum, there has to be some numerical truncation error with duplicate times, if those fixes are valid. I have seen cases where it is clear that the times were rounded off to precisely 1 minute or 1 second. I think bumping up `dt` to the max roundoff error would probably work reasonably well. This wou

[2017-04-13 01:39] xhdong-umd commented on #5
I just did a little search on this issue.
- [This book (chapter Data Quality, about page 120 )](http://www.springer.com/us/book/9783319037424) said records with duplicate time are definitely error, the problem is just to find out which one need to be removed.
- [trip package forward the time by 1 second recursively](https://www.rdocumentation.org/packages/trip/versions/1.5.0/topics/adjust.duplicat

[2017-04-13 02:19] chfleming commented on #5
I don't see exactly in that book what you mean, but in my experience duplicate timestamp behavior is completely different across devices. Sometimes it is garbage/corruption and sometimes it is useful data.

[2017-04-13 13:15] xhdong-umd commented on #5
Sure, I felt that disclaim too simplistic too.

I noticed ctmm gave warnings when there are duplicated times, do you think it will be too aggressive if we bump dt right after importing? Or we just use it for speed outlier calculation temporally?

I updated the repo with some minor changes:
- I moved the options for showing path and labels to the table of points in range, to make it more obvious th

[2017-04-13 15:08] xhdong-umd commented on #5
@chfleming @jmcalabrese Right now the outlier detection is applied to same subset of chosen individuals in visualization page, i.e.
- if no rows selected in `individuals` table, take all individuals in current page
- if some rows are selected, take selected subset. Note the selection can across pages, so you can choose some rows in first page and continue to select rows in other page.

This is fle

[2017-04-13 15:18] xhdong-umd commented on #5
@chfleming another question about outlier removal:

After I removed the records from the data frame holding data, I also need to update the `telemetry` object. Is it enough that I just update the data frame slot of each object? Is there any other information may need update?

One corner case is that if some individuals only have one or two points and was removed all together, then I need to remove

[2017-04-13 18:18] chfleming commented on #5
Updating the data.frame slot is enough. The defined `[.telemetry` command should just work for now and into the future.

[One correction on my previous thought. Its not `min(diff(t))` but the GCD of `diff(t)` that would estimate the discrete resolution of the times.]

Regarding the speeds, can you color the segments by their speed estimates, but with a gradient on transparency. I.e., for speed of

[2017-04-13 19:56] xhdong-umd commented on #5
OK, I mapped alpha to the distance/speed groups. It did reduced the clutter from the lower distance/speed values. The only disadvantage is that if user selected a group which have low value thus low alpha but low in point count, the points could be difficult to recognize. Considering the main interests are with high value groups, this should not be a problem.

Here are two screen shots. I also upd

[2017-04-13 20:48] chfleming commented on #5
I was thinking of doing this in the speed filter for the *line segments* between the points, which are not currently plotted for all points. Previously, you had a plot with arrows (also possible) drawn between all points, but it was very cluttered.

However, in the distance filter this could also be very useful, but with instead of speed using the distance from median to determine color/opacity gr

[2017-04-14 14:18] xhdong-umd commented on #5
I misread `segment` to the binned group of points. Alpha was mapped to distance/speed values, so the lowest distance/speed points were rendered with small alpha, higher value points with big alpha. The distance plot is showing more details and layers, so this should be an improvement.

As for the speed this may not be too obvious, because even if some few outliers have high alpha they can still be

[2017-04-14 17:42] xhdong-umd commented on #5
@chfleming I looked at the code of `[.telemetry` but not quite sure how should I use it. It seemed that I can use `[` to extract some columns with `telemetry` object, but if I need to remove some records from the object, what's the best way to do it?

For example, with buffalo data, I have some rows for several individuals need to be removed. I can get the original `row.name` in the data frame, th

[2017-04-14 18:13] chfleming commented on #5
To remove records REMOVE you can just do `DATA[-REMOVE,]` like you normally would with a data.frame.

[2017-04-18 18:21] vestlink opened #15 "Mismatch between movebank study and information shown"
When i log using the movebank login feature in the import data pane it lists correctly the studies where i am data manager, but the infomartion fetched from movebank is wrong and the data cannot be downloaded.

<img width="1130" alt="movebank login" src="https://cloud.githubusercontent.com/assets/20791068/25146530/8184ec68-2474-11e7-95d4-2e0a05a4f164.png">

[2017-04-18 18:23] vestlink commented on #15
error message from RStudio:

Error in fread(res$res_cont, sep = ",", nrows = 5) :
  Expected sep (',') but new line, EOF (or other non printing character) ends field 0 when detecting types from point 0: <span style="font-weight:bold;font-style:italic;">License Terms: </span>These data have been published by the Movebank Data Repository with DOI

[2017-04-18 18:46] xhdong-umd commented on #15
@vestlink I added this feature but have no way to test it since either me or Chris are not data manager of any study in movebank.

I saw the details of study seemed to be another study "16615296	(EBD) Lesser Kestrels" instead of the one you selected. If you don't use the check box "data manager", can you select the study you want and download the detail correctly?

[2017-04-18 18:52] xhdong-umd commented on #15
@vestlink , I did some change to the code and updated the repo. Can you test if it works now?

[2017-04-18 19:00] vestlink commented on #15
I'll give it a go

[2017-04-18 19:05] vestlink commented on #15
The study details are correct but the data is still the lesser kestrel.

When searching for my study i get no result, only when ticking off "Only show I'm data manager".

Could be a mis match in movebank.

I could lend you my login credentials for you to use during the development of this app. If it is ok with movebank policy...

[2017-04-18 19:18] xhdong-umd commented on #15
@vestlink Can you try again? It should be fixed now.

I spent a lot of time on the movebank download feature, but in the end the downloaded data only have some core columns, not as complete as the csv from web site. This may cause some problems in the analysis later.

I also asked movebank to provide a direct download of the csv file.

[2017-04-18 19:24] vestlink commented on #15
works fine now 👍

[2017-04-18 19:24] #15 closed

[2017-04-18 19:34] xhdong-umd commented on #5
This is a update of current status of app:

- the outlier removal feature is complete. Note there are two levels of "selection":
  + select a range in histogram, this highlight points in range, also list the points in table below
  + select the row in table, this highlight the points further, and you can show path, label for them.

   The "remove" button apply to the rows selected in table.

These

[2017-04-18 20:58] xhdong-umd commented on #5
@chfleming , the original formula `min(dt[dt>0])/2` mean to take half of the sampling resolution, right? In the later post you said to use the `gcd`, so we will use half of the `gcd` of `t`, right?

Bump the `diff(t)` to half of the resolution can generate new points with `diff(t) =0` or even negative time differences, if there are multiple contiguous points with same timestamp. I think this is wh

[2017-04-18 21:31] chfleming commented on #5
I have written some internal utility functions in the latest master branch of `ctmm`. The basic calculation is of the point estimate of the magnitude of the net velocity between two sampled locations (calling that the average speed would not be terribly inaccurate), taking into account both telemetry error in the sampled locations and truncation error in the sampled times.

Here is a little demons

[2017-04-18 23:44] chfleming commented on #5
I used the GCD to estimate the temporal resolution, which is for cases like the buffalo where nothing smaller than minutes is being recorded. Then I took the diff(t) to be uniformly distributed (from that round-off error) and calculated the expectation value of 1/diff(t). Strictly speaking, this is a a bit incorrect because times t1 and t2 are (when conditioning on nothing else) uniformly distribu

[2017-04-19 05:16] chfleming commented on #5
Well I should have tested that more. A uniform distribution of times doesn't give a finite expectation value for 1/diff(t) even when calculated exactly. I've changed the code to cap 1/diff(t) by the estimate of the resolution of t, similar to how we were discussing. This is probably good enough. This part of the analysis doesn't have to be exact.

And just to be clear, when I talk about fiddling w

[2017-04-19 06:16] vestlink opened #16 "Suggestion for future feature"
Hi.
I hope it is ok that i suggest future feature suggestions here.

When using the variogram to establish the time an animal potentially needs to traverse its home range, you obtain a time and area. Lets say my animal uses approx 5 days to travers 2 km2. My animal is sampled for 60 days. Would it make sense to then devide the 60 days into e.g. 12 bins in order to be able to e.g. calculate overlap

[2017-04-19 06:27] vestlink commented on #5
Shouldn't you also be able to deselect all when selecting individuals when visualizing and realise you only need to analyse one or a few anidivduals?

[2017-04-19 13:05] jmcalabrese commented on #16
With 60 days of data and a 5 day range crossing time, you have an effective sample size for home range estimation of ~60/5=12. Each of your 12 bins would then have N_e = 1, and you should not expect to get reliable home range estimates with such a small N_e. So no, I don't think it would be a good idea to do this. Understanding how the environment influences movement is, of course, super important

[2017-04-19 13:12] jmcalabrese commented on #14
For most users, I think the save/restore state functionality will be more important than being able to save modified versions of a dataset. For longer sequences of analyses, I think many folks will want the ability to pick up where they left off, or to go back and double check particular analyses/results. And of course, having a report documenting everything that was done will also be very useful.

[2017-04-19 13:23] xhdong-umd commented on #16
@vestlink this is the place for bug reports, feature suggestions, feel free to add any thought.

I'm not really knowledgeable about this topic, though the time subsetting page have the sampling time binned into N groups and colored points in each group with different color. So you can adjust the bin count N to 12 to see if there is obvious pattern in the scatterplot.

We didn't make the the bin in

[2017-04-19 13:30] jmcalabrese commented on #5
@xhdong-umd I think the outlier removal part could be made a bit easier for the user to understand by adding a sentence to the interface above the "Draw path around", "Label row number in path", and "Remove selected" informing the user that to use these function, one or more rows in the outliers table below must be selected.

Also, the version of the webapp I tested yesterday must have been before

[2017-04-19 13:53] xhdong-umd commented on #5
Yesterday I was debugging the problem caused by the execution order of some expressions. I made a screen recording and uploaded a version with the debug breakpoint before posting the question in Shiny google group. I updated the repo in case people there need to look at the code. And you happened to test the app at that time.

How about this?

- Distance tab

<img width="676" alt="screen shot 2017

[2017-04-19 13:56] xhdong-umd commented on #5
@vestlink Do you mean adding a "deselect all" button here? I didn't add it because there is not much space left in the table now. However I can make that button to a toggle button, which will switch between "select all" and "deselect all" for each click.

<img width="705" alt="screen shot 2017-04-19 at 9 54 51 am" src="https://cloud.githubusercontent.com/assets/25039897/25183689/4db00c0c-24e6-11e7

[2017-04-19 14:02] jmcalabrese commented on #5
I think a toggle button would be good.

[2017-04-19 14:16] xhdong-umd commented on #5
Button changed to `toggle all`. Code updated in repo.

[2017-04-19 15:26] xhdong-umd commented on #5
@chfleming I tried the code sample of `ctmm:::mid_speeds` with `buffalo[[1]]`. It took 5.6 seconds in my Macbook.

Can this be improved? Or if my usage is wrong?

[code]

[2017-04-19 15:48] vestlink commented on #16
thank you for your feedback on the matter. I will have to think about the subject a bit more...

[2017-04-19 15:53] xhdong-umd commented on #5
I just updated the repo again. Previously there was a bug in unfinished code for `pmin` speed definition. Now the speed definition is working by pmin, and it identified the outliers without the false positives before the real outliers.

The duplicated times are still not addressed properly now, since we are still deciding on how to deal with them.

[2017-04-19 15:54] vestlink commented on #5
it can be a bit confusing when the button itself dont change layout after a Toggle.

E.i. add tick mark after Toggle and remove after Un-Toggle. Un-tcketd as default.

[2017-04-19 16:02] vestlink commented on #5
btw. When importing from movebank all is good. However when pushing the save button the resulting csv file is getting the wrong name "Lesser Kestrel" and not Ovis aries, etc

[2017-04-19 16:02] xhdong-umd commented on #5
@vestlink I thought about it but hesitant to add that. In some UI there are some status display and you can click on it to switch it. Then I got confused about the shown status:

Is that the current status, or is it the result of the action if you click now? So for the left icon below, does it mean the current state is unselected, or does it mean clicking it will unselect?

<img width="439" alt="s

[2017-04-19 16:07] vestlink commented on #5
current status i most likely the most used display in programming. Un ticked as default if that is to be the default and it only changes after a action done by the user...

[2017-04-19 16:08] vestlink commented on #5
At least that is the most intuitive in my humble opinion.

[2017-04-19 16:10] xhdong-umd commented on #5
Fixed the movebank data saving bug. Repo updated.

[2017-04-19 16:23] xhdong-umd commented on #5
In testing the movebank import I chose the buffalo data (id 1764627). The movebank API download is different from the csv from website, with 7 individuals instead of 6.

This data revealed another problem for outlier detection. If you find this study, download data and import it, select the 2nd individual and highlight it

<img width="252" alt="screen shot 2017-04-19 at 12 15 44 pm" src="https://c

[2017-04-19 16:24] chfleming commented on #5
The full code is a bit slow at the moment, but O(n). If you want something fast but less accurate in place now, then I would just do

[code]

as the GCD code seems pretty fast the way it is structured.

[2017-04-19 16:31] chfleming commented on #5
That cluster of locations at the bottom looks like calibration data or a dead animal. The scale doesn't show up on your plot.

[2017-04-19 16:32] xhdong-umd commented on #5
I found the toggle button is a little bit awkward. With some rows selected by mouse, if user want to clear all selection but never clicked the button before, the first click is still selecting all. So user need to click twice to deselect.

Maybe two separate buttons are clearer, and you can access each in any time. To save some space, the `Filter Outliers` is actually not needed, you can achieve t

[2017-04-19 16:39] xhdong-umd commented on #5
@chfleming Is it possible for some data to have much more distanced ranges but valid data, and cause problem in distance outlier detection?

[2017-04-19 16:44] vestlink commented on #5
Two buttons seems sensible.

[2017-04-19 17:17] chfleming commented on #5
It is probably possible, which is why at a later stage we need to have maps behind these plots for people to judge better.

[2017-04-19 17:23] xhdong-umd commented on #5
Repo updated, removed the `filter outlier` button, added separate buttons for selection.

There is this assumption that may not be obvious to first time users: if nothing is selected, actually the current page is "selected", and all plots, outliers will take current page. I didn't find a better method to hint this in the UI (if we preselect all individuals in current page, it's not obvious if the

[2017-04-19 18:54] xhdong-umd commented on #5
@chfleming So to use the utility functions we need to provide a input for `UERE` value?

We also need to calculate with preset `UERE` value. How can we get the sensor type from the data to use some preset values?

[2017-04-19 19:01] xhdong-umd commented on #5
The code above will get `n-1` speed  values for data with `n` points. Which point is the missed one? What speed should we assign for that missed point?

[2017-04-19 20:33] xhdong-umd commented on #5
We are still working on the points with duplicated time, but the outlier detection can be considered as finished. I created [a demo video here](https://www.youtube.com/watch?v=nyUe6PIVfyU). You can choose the highest resolution and turn on the subtitle/CC for best result.

[2017-04-20 00:58] chfleming commented on #5
@xhdong-umd I have made two changes in the master branch:

1. The two-point speed estimation code is now vectorized, so it runs much, much faster now.
2. The basic function for estimating and assigning speeds is now
[code]
The return value is a list containing `v.t` of speeds assigned to the `n` times and `v.dt` of `n-1` speeds estimated over the time-intervals. `v.dt` should be used to color the

[2017-04-20 15:39] xhdong-umd commented on #5
I also removed the "time subsetting" button to make the behavior more consistent with other pages. User can switch to any page at any time, if there is valid data the page will update.

The outlier detection page take current data, which is selected animals or current page.
The time subsetting page take current selected single animal. If there is no single selected animal, there will be an error m

[2017-04-20 15:50] xhdong-umd commented on #5
I also removed the basic plot tab. Previously it just plot all animals in data, now we are plotting the current selected individuals, which is dynamic based on user input. To draw basic plot for same data will need extra effort, and still draw all animals can cause confusions.

[2017-04-20 17:54] xhdong-umd commented on #5
I tried to color the line segments in the path, but I'm not sure if it has obvious benefit. If the sampling interval is relative even for the period, the path length is a better indicator for speed compared to a color gradient.

<img width="903" alt="screen shot 2017-04-20 at 1 52 20 pm" src="https://cloud.githubusercontent.com/assets/25039897/25244922/9d1a11f8-25d0-11e7-96eb-9c15d698aef7.png">

I

[2017-04-20 18:23] xhdong-umd commented on #5
@chfleming I found the point with duplicated time got a much higher speed value. For example, with the old buffalo data (buffalo GPS data in movebank), row 5 got a 500x larger speed value

<img width="908" alt="screen shot 2017-04-20 at 2 22 40 pm" src="https://cloud.githubusercontent.com/assets/25039897/25246167/d762d3a0-25d4-11e7-820a-a67de81dc83a.png">

This could be intentional, but how should

[2017-04-20 19:16] xhdong-umd commented on #12
I'm closing the issue temporarily to focus on active tasks. We can reopen it when time is appropriate. And you can still comment on it anytime even the issue is closed.

[2017-04-20 19:20] xhdong-umd commented on #14
Closed temporarily to focus on active tasks.

[2017-04-20 19:20] #14 closed

[2017-04-20 19:37] xhdong-umd opened #17 "high level design of model page, Variograms"
We're still finishing some small details on speed definition of outlier detection, but the app itself is working well now. We can update the speed definition anytime without much change on app.

Now I think it's time to start discuss on the model page. There could be at least some new points need to be considered on top of previous design:

- what kind of workflow do we want?
   This is a top ques

[2017-04-20 19:48] chfleming commented on #5
I think this buffalo example is pretty unusual and it its case the user would likely know to subset the data into two parts (or three if the last is for UERE calibration). As I said, I think this collar was probably re-used.

In a migratory example, which is kind of like this, there will likely be a track of data connecting the two ranges and many locations in the track would set off the location

[2017-04-20 19:57] xhdong-umd commented on #5
By "subset data" do you mean subsetting by time?

Our current time subsetting page can make flexible subsets in time, but that was intended for next step modeling. Do you think we should provide an option to return visualization page, update everything with the subset, and user can filter outliers for that subset?

Though doing that may need to replace the input data with the subset. It's difficul

[2017-04-20 20:00] xhdong-umd commented on #5
We can also put this part on hold. As you said, there are too many possibilities for "dirty data", and we can decide after we have more user feedbacks and test cases.

[2017-04-20 20:05] chfleming commented on #5
Yes, subsetting by time. This is not high priority though.

[2017-04-20 20:26] xhdong-umd commented on #5
There are two places with duplicated times in this data, they are very similar. Both happened on midnight. `inc_x` `inc_y` are x y changes, `inc_t` is time changes for each point to its next point.

<img width="954" alt="screen shot 2017-04-20 at 4 16 42 pm" src="https://cloud.githubusercontent.com/assets/25039897/25250828/358a692e-25e5-11e7-8aeb-160a4ae64dbb.png">

Point 4 made a big jump, then p

[2017-04-20 20:32] xhdong-umd commented on #5
Because we are filtering outliers, we need to assign a value to point even the speed definition is actually for time intervals. There are several approaches with our definitions:

1. use `max` method, assign `v.t` to points. Though the value we got may not be intuitive for duplicate times.
2. use `min` method, assign `v.t` to points
3. assign `v.dt` to points, and assign the first or last point so

[2017-04-20 21:05] chfleming commented on #5
3. is a bad idea and superceded by 2 in my opinion. I suspect that 1. will work the best, as long as a non-zero UERE/error is specified. With more than one duplicate time in a row, pmin will behave similarly.

[2017-04-21 06:45] vestlink commented on #17
My suggestion is to keep plots to a minimum and only if they help guiding the user. I would stick to one plotting solutiong that best suits the app and user and not give the user too many options. It will just be confusing.

[2017-04-21 07:00] vestlink commented on #17
I assume you have seen this https://github.com/daattali/shinyjs

[2017-04-21 13:06] xhdong-umd commented on #17
@vestlink Yes I used `shinyjs` in my first RStudio addin. I actually try to avoid using it if not must, because I found sometimes it caused some problem.

I'm not sure about its usage in this topic, do you mean disable some elements with `shinyjs` when they are not needed?

As for app usage, I expect the final app to have some tooltips or hints, and user should go through some brief tutorials. The

[2017-04-21 13:30] xhdong-umd commented on #5
App updated with speed definition of `max` by `ctmm:::assign_speed`.

Note running app now need the latest ctmm github version.

As for migratory data, actually we can split the data into smaller clusters, like 100 clusters per individual. This will be an approximate to the ideal distance definition **distance to the center of neighborhood**. Calculating a moving window of neighborhood for all poi

[2017-04-21 14:24] jmcalabrese commented on #5
@xhdong-umd, I think it is time to move on for now. As you pointed out, there are lots of different ways things can go wrong, and we are not going to sort them all in one shot. They also will not be equally important in practice.

I think you've done a great job establishing a solid framework for dealing with outliers, and that updated functions for speed, distance or whatever else comes up later

[2017-04-21 15:27] xhdong-umd commented on #17
@jmcalabrese I saw you are not watching the project so maybe you didn't get notification unless was mentioned. What's your plan about the models page?

[2017-04-21 18:12] chfleming commented on #17
The basic workflow of the package for model fitting is `ctmm.guess()` to generate a `GUESS` object (which has the same format as a ctmm fit object, but is used as the initial guess for numerical optimization), then `ctmm.select()` and then to look back at the results with a plot of the variogram and selected model.

With multiple animals, I have had many users do
```GUESS <- ctmm.guess(...,interac

[2017-04-24 16:20] xhdong-umd commented on #17
I tried to write some functions for ggplot version plots.

For location plot of `telemetry` object, we can have a function like `gplot(obj, subset = "all")`, which will draw a plot similar to the first overview plot in web app. The `subset` parameter can be a vector of identity index so you can choose to draw animal `3,4` with all data as background like `gplot(obj, c(3,4))`, and the color will be

[2017-04-25 15:19] xhdong-umd commented on #17
For variograms we may want to plot several variograms with different `fraction` values together, like a facet plot. It seemed that base plots need `par` to arrange plots in same page.

I used `gridExtra` for similar task on `ggplot2` previously, and there is a `gridBase` package that place base plots in grid viewports, which is more flexible and powerful in arrangement. However there are still som

[2017-04-25 17:41] chfleming commented on #17
I think base plot is perfectly fine for now.

If a zoom slider is going to be used across multiple individuals, I think instead of adjusting the fraction of the plot (which varies in scale by individual), it should adjust the range of the x-axis (lags), so to be universal across individuals. If you need code to do that on a logarithmic scale, just let me know. It would basically be like the curren

[2017-04-26 12:58] #16 closed

[2017-04-26 13:12] jmcalabrese commented on #17
I agree with Chris that we should stick with base plots for now, and then once the workflow has been tested and refined, possibly add in ggplot2 graphics where appropriate.

I also agree that a facet-like plot where you can simultaneously zoom in/out on all the variograms that are displayed would be useful.

I can see advantages and disadvantages for both zooming by fraction, and for zooming by la

[2017-04-26 13:17] jmcalabrese commented on #17
After viewing the automated guesses against the empirical variograms, it would be cool if the user could click on a particular variogram where they were interested in fine-tuning the guess, and then that particular variogram would open in a new window or box with sliders like in variogram.fit(). Not sure if that is possible.

It might also be useful to have a tick box for each panel to turn on err

[2017-04-26 13:18] xhdong-umd commented on #17
Previously we had an idea of generate multiple "snapshots" of variograms at different fraction values for same individual (kind of facet plot), because you can check all values with a zoom slider, but multiple snapshots at typical values can provide an overview in a glance. So the plan was to have multiple static variograms at different values plus one with zoom slider. At that time we haven't con

[2017-04-26 13:22] jmcalabrese commented on #17
I was talking about the case where you are simultaneously processing multiple individuals. If you are only working with one individual, then there would only be on panel in the plot, but you would still have the ability to zoom in/out with a slider.

I think having an overall zoom slider (whether by fraction or by lag) would scale much better to multiple individuals than having multiple static sna

[2017-04-26 13:24] chfleming commented on #17
I agree, especially considering that knowing the proper scale to zoom in on requires guessing at the model parameters... which is the purpose of checking this.

[2017-04-26 13:29] xhdong-umd commented on #17
Yes, I just want to make sure that we don't want static snapshots anymore. So we will deal with multiple individuals at the same time by default.

[2017-04-26 19:53] xhdong-umd commented on #17
@chfleming you mentioned about code that adjust the range of the x-axis (lags) in log scale. Can you put them here? We can use a range slider for this

<img width="281" alt="screen shot 2017-04-26 at 3 51 25 pm" src="https://cloud.githubusercontent.com/assets/25039897/25453798/47437248-2a98-11e7-9b51-146990ddb20e.png">

[2017-04-26 20:30] xhdong-umd opened #18 "Make shinyapps.io support `pacman` usage"
This is done before, but worth to put into issues as we may need to deal with it later.

- Using `pacman` instead of common `library()` in code has advantage that it will install packages not available in user's machine. So user can run from github and update packages automatically.
- However `pacman` is not recognized by `shinyapps.io` so it will fail in deployment.
- In the backend `shinyapps.io

[2017-04-26 20:32] #18 closed

[2017-04-27 12:24] vestlink commented on #17
i see the outlier issue is closed. however, I have a question. Suppose you want to use the outlier and want to "pull" the outlier in. Maybe you would think that it would be ok to place the point between the point before and after. Would that make sense?

[2017-04-27 12:38] xhdong-umd commented on #5
This is to discuss the question raised by @vestlink

I'm not totally sure if I understand the idea. Do you mean using a middle position between `i-1` and `i+1` to replace the outlier position of `i`?

I'll leave this to @chfleming to answer this.

[2017-04-27 12:40] xhdong-umd commented on #17
@vestlink You can still comment in closed issue, or even reopen it if needed. For me "close an issue" just means it's no longer the active task. I copied your question to that issue and replied there. I also asked @chfleming 's opinion on this.

[2017-04-27 12:41] vestlink commented on #5
yes

[2017-04-27 15:39] xhdong-umd commented on #17
@chfleming What's the desired range of fraction if using a log slider? i.e. the min, max, default value of fraction.

<img width="726" alt="screen shot 2017-04-27 at 11 30 39 am" src="https://cloud.githubusercontent.com/assets/25039897/25491233/542961e8-2b3d-11e7-881d-ebc17109b27c.png">

The plot above is just showing the idea. There are several issues need to be addressed:
- ideally the figure si

[2017-04-27 16:34] chfleming commented on #17
@xhdong-umd
Instead of having 1 (relative) fraction for the entire group, I would target one (absolute) zoomed in scale for the entire group. Taking the code behind `variogram.fit`, with a list of variograms `SVFS` there would be some overarching code
[code]
and then for each individual in the list, the manipulate plot (I know this isn't Shiny code) would would look like
[code]
subsetting each var

[2017-04-27 17:06] xhdong-umd commented on #17
@chfleming Because @jmcalabrese mentioned that we could have both fraction and lag for zoom, I plan to have two tabs for them (they will be using different value and range, so reusing same slider with a switch will not work).

[2017-04-27 17:17] chfleming commented on #17
@xhdong-umd The poorly named `min.step` is the minimum fraction, 1 is the maximum fraction and 1/2 is the default for the fraction, and then I just transformed that with the transformation between the slider variable and the fraction `fraction=b^(z-1)`.

[2017-04-27 17:28] chfleming commented on #5
@vestlink Does it make sense to interpolate the data to fill in a gap left by an outlier? It is unnecessary with continuous-time models to have to fill in gaps in the data via interpolation or imputation, which is statistically not as rigorous as marginalizing over the missing data.

Outliers would only be useful if we had information on their error distribution. Unfortunately, they are usually to

[2017-04-27 17:38] vestlink commented on #5
@chfleming Excellent points :) Thank you for your feedback. Given the number of locations you get from modern GPS collars it would not make sense to include or try to interpolate a few data points.

[2017-04-27 17:45] xhdong-umd opened #19 "Hosting app in shinyapps.io"
Before we explore the option of hosting the app by ourselves, we can use the service provided in shinyapps.io. The free plan is very limited so we need to at least consider [the basic plan $39/month](https://www.shinyapps.io/).

Some terms used:
- instance. I assume it be an Amazon EC2 virtual machine instance. The RAM of the instance range from 1G to 8G. Free plan can only have 1G instance, basic

[2017-04-27 19:13] xhdong-umd commented on #17
I just updated the repo. The variograms with zoom for fraction is like this:

<img width="701" alt="screen shot 2017-04-27 at 3 11 02 pm" src="https://cloud.githubusercontent.com/assets/25039897/25500151/edc1d416-2b5b-11e7-96d2-63ca7dd31c04.png">

You can adjust the figure height and columns in panel. I will implement the zoom for lag in next step.

[2017-04-28 00:57] chfleming commented on #17
I definitely don't think its necessary to fix the y-axis necessary on this tab with the fraction zoom, because the x-axis is is not fixed here. On the other tab with the lag zoom, that might be nice. I will make sure the `xlim` & `ylim` arguments behave correctly in `plot.variogram`.

[2017-04-28 07:48] vestlink commented on #17
@xhdong-umd look at this solution (if you're not already familiar with it). https://www.exploratory.io/ i came across it a few days ago. They have done a lot of things right. I know that it is not a shiny app, but the work flow is nice.

[2017-04-28 13:22] xhdong-umd commented on #17
@chfleming I was wondering if we need to fix y-axis **unit**. `Gabs` in this plot have different unit. I can't reproduce the result with new code, but I'm not sure if this will never happen again.

<img width="713" alt="screen shot 2017-04-27 at 11 30 46 am" src="https://cloud.githubusercontent.com/assets/25039897/25529377/bf48e202-2bef-11e7-859d-fdff9dc1965f.png">

@vestlink I didn't play with th

[2017-04-28 13:40] NoonanM commented on #17
@xhdong-umd I think it would be best to have consistent units across all plots. For some datasets, I've found ctmm returns different units between individuals, depending on inter-individual differences in ranging behaviour. That can make visual diagnostics challenging. Maybe the best option is to convert all plots to the most common unit across all individuals in the dataset?

[2017-04-28 13:47] xhdong-umd commented on #17
The unit picking depend on the range of data. So there are two approaches:
- use the most common unit, though the plot above actually have 3 in `km2` and 3 in `hm2`.
- pick unit from the biggest range - or smallest range, depend on if you want `5, 10, 1000` or `0.2, 0.01, 1`.

[2017-04-28 14:07] NoonanM commented on #17
Another approach might be to include two options: i) pretty units (the default output, which has the potential for differences between plots), and ii) SI units (m^2) for inter-plot comparisons.

[2017-04-28 15:44] xhdong-umd commented on #17
I think the units need to be consistent. We can have a radio button to switch between SI units and a pretty units either in biggest range or smallest range, as SI units view can be useful sometimes.

[2017-04-28 19:28] xhdong-umd commented on #17
I just updated the repo with the variograms zoomed by absolute lag.

<img width="704" alt="screen shot 2017-04-28 at 3 19 35 pm" src="https://cloud.githubusercontent.com/assets/25039897/25543858/2236dd20-2c26-11e7-9ce7-9ef862d60cc3.png">

I think it's safe to just use `0` as `min.lag`, right?

In the other hand, we could use a **range slider** that can define both left and right ends of a range of

[2017-04-28 20:10] xhdong-umd commented on #17
I looked the source code of `plot.variogram` about the units of y axis. With `ggplot2` you can change the plot unit with a scale function, but with base plot we may have to change `plot.variogram` and add a parameter to provide scale, like this

[code]

[2017-04-28 20:45] xhdong-umd commented on #17
I found my edit above on `plot.variogram` is not ideal. To calculate the unit outside the plot function, I still need to use the code similar to the part inside the plot function. It'll be better if we abstract the scale calculation into a function, then we can use that function to calculate the unit parameter.

I'm not sure if we should make so many changes just for adjusting units though. That b

[2017-04-28 21:47] chfleming commented on #17
On the master branch I've edited `plot.variogram` to

* respect `xlim` & `ylim` arguments
* subset the data according to `fraction || xlim` before plotting for speedup

It is correct that for variograms, `xlim` and `ylim` should both start with 0 for normal use.

I will now make an `extent` function for a list of variograms, and using that you can fix xlim & ylim across individuals easily.

[2017-04-28 22:30] xhdong-umd commented on #17
Sorry I didn't think through about the subset for xlim. If some individual didn't have data in all the time range (for example only have data in 3 months while the xlim range is 4 months), this may result its plot having a shorter xlim, right?

From my previous test, `plot.variogram` worked with xlim, I'm not sure what need to be changed for this.

[2017-04-29 03:56] chfleming commented on #17
I have pushed a variogram `extent` method that is documented. You can now subset what you want to plot, feed those variograms (in a list) to `extent`, and then it will give you back `xlim` and `ylim` values just like with the telemetry and UD extent methods, so that you can make tables of plots with the same scale that is chosen to be appropriate.

[2017-05-01 13:28] jmcalabrese commented on #17
I agree with @NoonanM that consistent units should be maintained across different panels, and that there should be a choice between pretty or SI units. When the choice is pretty units, I think whatever pretty units the unit function returns for the majority of panels should be imposed on the other panels.

[2017-05-01 13:37] jmcalabrese commented on #19
@xhdong-umd, thanks for looking into that.

You say the plan can be upgraded/downgraded at any time. Does that mean that we could sign up for the basic (paid) plan for one month for testing purposes, and then downgrade to the free plan after that month? Are you sure there are no penalties or additional fees for doing that?

I will look into how we can pay for the basic plan.

[2017-05-01 13:54] xhdong-umd commented on #19
@jmcalabrese I think so. [Here is the official guide](http://docs.rstudio.com/shinyapps.io/billing-and-account-management.html). You can also sign up a free account to look at the actual page of billing.

The account can be renamed (which determine how the url will look like, my current url is ctmm.shinyapps.io/appname), or transferred to somebody else. So you can pay for an account then transfer

[2017-05-01 14:10] xhdong-umd commented on #17
@chfleming Thanks for the update, the idea of using `extent` is great, with simplified and consistent usage. I think the slowness I talked must came from the mechanism of base plot updating xlim after the plot has been generated, so it's still the same speed even if you subset the data already. The fraction plot just draw each figure with subset data, which is quicker because there is no axis redr

[2017-05-01 14:25] NoonanM commented on #17
Just as a side thought, for first time users, or those unfamiliar with variogram analysis, it might be worth re-naming the tab 'Zoom by time-lag".

[2017-05-01 14:26] chfleming commented on #17
I like how this looks for zoom by lag. I'm not a fan of zooming by fraction on multiple individuals, so I don't have a preference on what that should look like--@jmcalabrese

[2017-05-01 14:42] xhdong-umd commented on #17
@NoonanM I think user may need a hint or help page to understand the meaning of x,y axes. But for the zooming itself, it's based on a percentage of time lag, so I'm hesitating to add too many information in the title.

Now I looked at the plots again, the two modes are actually both based on percentage of x axis, just the `zoom by lag` is the percentage of max x axis range applied to all individua

[2017-05-01 15:43] xhdong-umd commented on #17
Since the two plots are very similar, and the slider value is both a percentage/fraction, we can actually combine them into one page, use a radio button to switch between absolute zoom and relative zoom.

[2017-05-01 16:18] xhdong-umd commented on #17
Summary of questions need answer:
- any comment on naming of the plot, slider labels etc
- should we use same y axis range for relative fraction plot?
- is the log scale slider for absolute lag range optimal?
- to add a switch for SI units, we may need to add unit parameter to `plot.variogram` function.

[2017-05-01 18:22] xhdong-umd commented on #17
@chfleming You mentioned that

I assume the `error=TRUE` refer to the error slot in ctmm object. Do mean there should be a checkbox to turn on error? I didn't see error as a parameter for `variogram`  or `ctmm.guess`. How should I turn it on or off? Can it be used automatically based on if error info is available?

[2017-05-01 19:09] xhdong-umd commented on #17
I updated the repo, now with a checkbox to overlay the fit from `ctmm.guess` on plot.

<img width="715" alt="screen shot 2017-05-01 at 3 08 53 pm" src="https://cloud.githubusercontent.com/assets/25039897/25590865/2503ffae-2e80-11e7-9abf-45c002606581.png">

<img width="718" alt="screen shot 2017-05-01 at 3 09 02 pm" src="https://cloud.githubusercontent.com/assets/25039897/25590875/2928167e-2e80-11e

[2017-05-01 19:57] xhdong-umd commented on #17
To switch on `error`, do have to fit model once without error, then enable error and fit 2nd time?

[code]

[2017-05-01 20:37] chfleming commented on #17
1. The logarithmic scale is important to be able to work down to the short lags without excessive effort.
2. On the "Absolute range", it looks like the vertical extent isn't being recalculated when you zoom in.
3. If the data don't have tiny `diff(t)` then fitting first without error and second with error helps with speed and convergence of fitting. It is not necessary if the optimizer is working

[2017-05-02 14:23] xhdong-umd commented on #17
The y axis is updating with zoom now. I have to subset the data by xlim, then use extent to determine proper xlim ylim.

I have updated the repo. Note the "adjust guess parameters" has not been implemented yet.

[2017-05-02 20:48] xhdong-umd commented on #17
I'm working on implementing the manual fit interface in Shiny. There are lots of coupled relations on units, model parameters so I want to be very careful.

@chfleming The variables `sigma` `tau1` etc inside the `manipulate::manipulate()` call refer to the slider value, even there are variables of same name outside the call (because R CHECK CRAN insisted on this?), right?

[This line](https://gith

[2017-05-02 22:16] chfleming commented on #17
@xhdong-umd Yes, all of those initial (useless?) declarations were to satisfy CRAN.

For your considerations, you can assume range=TRUE everywhere. What range=FALSE does is actually fix the first tau to Inf. But you can't do home-range estimation with those models and so I don't think they are worth including in the app.

Also, you can consider CPF=FALSE. I need to remove all of that code.

To sum

[2017-05-03 00:51] xhdong-umd commented on #17
I have copied your code and modified it to Shiny version, now the slider is initialized correctly, I just need to made correct conversion for the slider value and feed them to the `CTMM` object.

By "change the slider limits on the fly", you mean after the initialization, you may still want to change them based on some user input (one slider limit depend on other input)? With Shiny you can change

[2017-05-03 00:59] chfleming commented on #17
Sometimes `variogram.guess` is so far off that the default slider max is insufficient. This is usually because of substantial telemetry error, which complicates the initial shape of the variogram.

It would be nice to either:
1. Be able to run a parameter to the end of a slider and have the slider max double automatically (perhaps on release of the mouse click).
2. Be able to click a button and ha

[2017-05-03 13:37] jmcalabrese commented on #17
@xhdong-umd: I like the layout and functionality of the variogram page. I know @chfleming prefers zoom by lag to zoom by fraction, but I still find zoom by fraction superior for zooming in on small lag behavior of all plots simultaneously, and think we should keep both options. Switching between them with a radio button and using the same slider for both is a really clean and elegant solution. Ver

[2017-05-03 14:00] xhdong-umd commented on #17
I think keep them both have advantages, as the "relative zoom" can reveal more details for each plot. We just need to remind user that each figure have its own scale so it was meant to inspect plots individually, not for comparison.

There is a figure height input to control the height of individual plot. I guessed the current value is a little bit low, you can adjust the number and find a good ra

[2017-05-03 14:36] xhdong-umd commented on #17
I updated the repo, with default figure height 250 pixels, and increased axes label size. Setting these parameters manually may have different effect in different platforms though.

I also noticed the plot axis label become more detailed when the space increases.

<img width="699" alt="screen shot 2017-05-03 at 10 32 05 am" src="https://cloud.githubusercontent.com/assets/25039897/25665655/4713aa6e

[2017-05-03 14:41] xhdong-umd commented on #17
@chfleming With buffalo data, the tau velocity and error doesn't have effect on the fit, maybe it's because of the model? Should we disable the sliders if the model doesn't take the parameters?

[2017-05-03 14:56] chfleming commented on #17
I have a bug in my code at the moment that the error parameter is not rendering without a fitted model (which includes uncertainty on the error). I'm fixing that right now.

tau velocity should be working, but you have to zoom way in to see it.

[2017-05-03 15:14] xhdong-umd commented on #17
OK, I saw the effect of tau velocity.

I've been thinking if we should make an interface with `variogram.fit` so it can be used in both manipulate and Shiny. Right now I copied the code in `variogram.fit` and made some changes for Shiny, then any update in `variogram.fit` need a revisit of these copied and changed code. I'm also not 100% sure if my version worked in all cases since I don't totally

[2017-05-03 16:07] chfleming commented on #17
The bug I fixed is in a different function, but that's a good idea.

`variogram.fit.plot` will have to take parameter arguments and `init_sliders` will have to be used to set parameter arguments. It looks like manipulate will accept variable name strings like `"x"=slider(...)` just as well as `x=slider(...)`. So we will also need a character array of parameter names. Will these 3 ingredients also

[2017-05-03 16:37] xhdong-umd commented on #17
`variogram.fit.plot` can take a list of some named values in SI units:  `zoom`, `sigma`, `tau1`, `tau2`, `circle`, `error`, and parameters `CTMM`, `variogram`. Inside the function it update `CTMM` with the values, draw the plot.

`variogram.fit` can convert the units before calling `variogram.fit.plot`, since it also called `init_sliders` already it has access to the units information.

In my Shin

[2017-05-03 16:52] xhdong-umd commented on #17
And I found [this discussion](http://stackoverflow.com/questions/9439256/how-can-i-handle-r-cmd-check-no-visible-binding-for-global-variable-notes-when) about satisfying R CRAN Check.

The two methods of
- `if (getRversion() >= "2.15.1") globalVariables(c("x.values", "y.values"))` in a `zzz.R` file in `./R/.`
- `if (getRversion() >= "3.1.0") utils::suppressForeignCheck(c("x.values", "y.values"))`

[2017-05-03 19:02] xhdong-umd commented on #17
I updated the repo with the fine-tune fit feature.

After you check the box of "guesstimate model" (do you have a better name for this?), choose the individual you would like to fine-tune in the drop down box. There will be a pop up for the manual fit.

The pop up is using 0.5 fraction, while the default page of absolute zoom is using a different fraction value(the slider is in 0.5 but that is the

[2017-05-03 19:08] xhdong-umd commented on #6
Xianghui Dong has invited you to view the following document:

Open in Docs
<https://accounts.google.com/o/oauth2/auth?client_id=187102321219-1cb4b2gdr0bqv5u5n35vi1hecjcp1sjg.apps.googleusercontent.com&scope=https%3A%2F%2Fmail.google.com%2F+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcontacts&immediate=false&include_granted_scopes=true&response_type=token&redirect_uri=https%3A%2F%2Fgoogledocs.docscl

[2017-05-03 19:20] xhdong-umd commented on #6
Hi, sorry if you received an email from me "invited you to view the
following document".

This was an email I received from person I known, and once I clicked the
"open in doc" it asked me to allow google doc to access, then if you
allowed it, it will send similar emails to every one in my contact list.

You can revoke the permission in you google account settings, connected
apps & sites, apps tha

[2017-05-03 20:06] xhdong-umd commented on #17
I updated repo with a slider to extend the slider ranges. You can increase the max limit of all the sliders except "zoom" to 0.5 ~ 10 times. If 10 is still not enough in some cases, we can chose another value.

[2017-05-03 20:15] xhdong-umd commented on #17
I think the next steps are model selection and maybe turn on the `ERROR` for some data.

- By using `ctmm.guess`, have we already selected some model and used it?
- What's the proper model selection work flow?
- Should we just use the best model by `ctmm.select`, or should we give more extensive options?

The model selection part may need some careful thinkings. I think I will start to look at the

[2017-05-04 12:53] xhdong-umd opened #20 "Test deployment in various environment"
I will test all the deployment options with different environments in the following week, and test again before the Animov course in August.

This is to make sure all features worked, and there is no significant problem in UI because of browser/system difference.

- hosted app
  + Test different browsers (safari, firefox, IE, chrome) in Mac OS, Windows and Linux.
  + After we signed up basic plan

[2017-05-04 13:12] xhdong-umd opened #21 "Improve help and documentations"
Preparing for the coming Animove course, I'll

- go through the app to improve the labels, names so that they are more intuitive and accurate.
- make screen recording demo for each page, showing the basic operations, adding subtitles as instructions.
- add help document in each page for
  + basic concept of the page, the position in the whole workflow
  + usage pattern for the page, link to the sc

[2017-05-04 13:40] jmcalabrese commented on #17
I like the updates to the variogram page. I also think having a "increase slider range" slider is a more intuitive solution than automagically doubling the range when the user hits a limit (some users may never discover that feature).

A couple of usability observations:

1) Could we have log-scaled sliders that display the original values instead of logged values? So for fraction, instead of seei

[2017-05-04 13:44] jmcalabrese commented on #17
@xhdong-umd: I agree that focusing on help, documentation, clean-up and testing should be the priorities from now until the 15th. I would rather have the things that are already there working well and with documentation than trying to rush development of another layer of functionality.

[2017-05-04 14:06] NoonanM commented on #21
@chfleming Once ctmm.select() has selected the best fit model, and analysis is at the stage where users visually inspect the fits, it might be helpful to provide a tip/hint on what a good fit might look like. For instance what it means if the selected model over- or under-fits the variogram, or how a fit might be improved by including ERROR if there is a lot of telemetry error that has not been ac

[2017-05-04 14:11] NoonanM commented on #17
@xhdong-umd @chfleming It regularly happens that some individuals in a dataset aren't range resident, and need to be excluded from the rest of the analyses. At the variogram stage, it would be useful (if possible) to have a tick box (or similar) where users can move through their data and select which animals are range resident (or vice versa, which animals aren't). Then, moving forward to the nex

[2017-05-04 14:14] xhdong-umd commented on #21
Yes, I found this part not easy to grasp for myself. I made some tables and notes about the rules, and plan to include them in the help document.

Though the current task is probably more focused on documenting existing features, and I may need some careful planning on how to implement model selection in the app. That will be my primary task after June.30 because I need to work on another project

[2017-05-04 14:30] xhdong-umd commented on #17
I have some code that can convert the slider labels into log scale, so the underlying value is still the same, but the label and displayed values are in log scale. However it is in log base 10, and the current code in `variogram.fit` is in log base 4.

@chfleming Do you want to keep it in base 4 or is it OK to change to base 10? I do notice that 0.5 is still 0.5 in log base 4, not sure if this is

[2017-05-04 14:44] xhdong-umd commented on #17
@NoonanM I need to think about that in the model selection context. It may involves selecting from multiple models for multiple individuals, so the workflow could be difficult to implement.

This will be the task in July, but my tentative idea is that the model fitting could take some time, so to deal with multiple individuals and multiple models, maybe we will have a "model fit planning" step, wh

[2017-05-04 16:09] vestlink commented on #20
I can test on macos, windows 8 and 10 and linux mint if you would like test done by external sources. I can use the internal data as well as the sheep data i have from two separate areas spanning several years and sampled at 30 mins and 1 hour.

[2017-05-04 18:12] xhdong-umd commented on #20
@vestlink Thanks for the help! Any test is welcome.

I plan to make some internal test and add more help documentations first, then release a version in next week. Then we can test that version.

[2017-05-04 18:40] chfleming commented on #17
Instead of a slider to adjust the slider max, can we just have a button that sets all of the slider maxima to twice the current estimate, effectively centering all of the sliders. That would make the sliders easier to tweak, I think.

[2017-05-04 18:47] xhdong-umd commented on #17
@chfleming At first I made a button, then I was afraid that doubling one time is not enough, so I wanted be able to continue expanding if needed. Because the first double took the initial slider limit, next double need to save previous states in some global variable. I don't like the global variable idea so changed it to slider instead.

By double the current estimate, you mean just use current sl

[2017-05-04 18:48] chfleming commented on #17
This part with ctmm.guess (which includes within it variogram.fit and the sliders) is just for obtaining an initial guess. It is not really a fit or selected model and variogram.fit is a misnomer. It should be called variogram.eyeball.

The next step is to feed the data and initial guess into ctmm.select with verbose=TRUE, report the results, and take the best (first) model. Overfitting is not yet

[2017-05-04 18:50] chfleming commented on #17
The base I used is arbitrary, you can use whatever you like.

[2017-05-04 18:53] chfleming commented on #17
Yes, I mean to set the slider max to equal twice the current slider value. This will help (1) both situations where you reach the slider max and want to go further and (2) situations where you are near the slider min and are having trouble with the resolution.

[2017-05-04 18:56] xhdong-umd commented on #17
OK I will change the base and use a log slider. After you finish the interface on `variogram.fit` I'll update my code to make sure the app have same behavior with the manipulate version.

[2017-05-04 18:56] vestlink commented on #20
Excellent

On 4 May 2017 20:12, "xianghui dong" <notifications@github.com> wrote:

[2017-05-05 14:19] xhdong-umd commented on #19
There is not much need to be done here before actual sign up. I think we can sign up the basic plan sometime in August, and reserve several days for testing and adjusting configurations.

I'm closing the issue temporarily now, and I will reopen it later.

[2017-05-05 14:19] #19 closed

[2017-05-05 18:50] xhdong-umd opened #22 "Update data after time subsetting"
After user finished time subsetting, I plan to update data set with the time range list:
- Any operation later involved this individual will use selected time ranges.
- If returned to Visualization page, there will be an notification about time subsetting, and plots will update.
- User can always return to time subsetting page to check the selected time range, or reset the selection back to origin

[2017-05-05 20:00] xhdong-umd commented on #21
I have finished the most of help documents. All pages that are working now has at least one help button to display the documents.

[2017-05-05 23:45] chfleming commented on #22
Is there a way to highlight (maybe with change of icon color) that later stage analyses now need to be updated to reflect the new subsetting?

[2017-05-08 20:54] xhdong-umd commented on #22
For the notification/reminder, I plan to try two options and see which way is better.
- add some messages in the top right corner
- add some information in side bar

Now for the logic of applying time subsetting, I assumed it's possible to use several different time ranges together for same individual. Then there could be several disjoint group of points in time and location.

Because my code now

[2017-05-09 12:38] xhdong-umd commented on #22
I've almost finished this feature, then I realized there could be another approach.

@chfleming @jmcalabrese How about we make any time subset (could be multiple time segments for one individual) into a "new individual" named with a postfix, like `Cilla` time subset become `Cilla_subset_1`, and add it to the dataset?

The previous design need to maintain a subset of original data, and user need to

[2017-05-09 12:55] jmcalabrese commented on #22
I like the "new individual" idea. I think that is cleaner than repeatedly reminding the user that they are working with a subset of the data.

[2017-05-09 13:01] jmcalabrese commented on #20
@xhdong-umd: This all sounds good. I assume you have all of the different os/browser combinations available to you? If not, I could test on mac os and ubuntu linux.

@vestlink: Thanks for the offer! External testing, especially with new data, would be great.

[2017-05-09 13:08] xhdong-umd commented on #20
I can use the Macbook and my home windows PC. I also prepared to install linux VM for testing.

I think I will test the major platform for app behavior, and any other contributed test with different data will be very useful.

[2017-05-09 13:15] jmcalabrese commented on #21
@xhdong-umd: Thanks for writing the help files. Do you mind if I commit changes (mostly minor edits) to the help files directly to the master branch?

[2017-05-09 13:23] jmcalabrese commented on #17
@xhdong-umd:

1. Your justification for using a different UI for facet plots and multipanel variograms makes sense, and in light of that, I agree that we should keep those the way they are.

2. I just checked, and the variogram zoom slider still shows a log scale to the user, ranging from -3 to 0. Did you not have a chance to change the labels so that the user sees the original units on the slider

[2017-05-09 13:23] xhdong-umd commented on #21
@jmcalabrese No problem, changes in help documentation should be easy to manage.

Regular user cannot write to the repo so they have to fork the repo, commit and make pull requests. I thought that will be too cumbersome so I only asked for comments here. I forgot you can commit to the master branch directly.

Thanks for the edit!

[2017-05-09 13:28] xhdong-umd commented on #17
Interesting, I think I did push the changes to the repo.

I just updated the repo again, and directly running from the repo showed this scale for me:

<img width="894" alt="screen shot 2017-05-09 at 9 26 35 am" src="https://cloud.githubusercontent.com/assets/25039897/25853147/be7f9b88-3499-11e7-871d-73620938635c.png">

Can you test again?

[2017-05-09 13:34] jmcalabrese commented on #17
Ok, just tested again.

On the main Visual diagnostics page (before selecting an individual to fine tune parameter guesses), I still see a slider range of -3 to 0.

After selecting Cilla (with no outlier filtering or time subsetting), I see a zoom slider range of -1.547 to 1 on the slider palette. That seems like a mix of log scaling on the low end, and linear scaling on the high end. Not sure wha

[2017-05-09 13:38] xhdong-umd commented on #17
Shiny doesn't support log slider directly, so I used some javascript code to modify the slider labels. This could be some bug caused by different platform/browser interpreting that javascript code.

What platform/browser are you using?

[2017-05-09 13:45] jmcalabrese commented on #17
I am on linux right now. I had been using Rstudio's built in browser window, and there the sliders are still as I described above. When opened in Firefox or Chromium, the slider range on the main Visual diagnostics page looks good: 0.001 to 1. The palette zoom slider then has range you showed above, but it seems like you multiplied the range by 10? Shouldn't it stop at 1 for maximum zoom?

[2017-05-09 14:05] xhdong-umd commented on #17
The slider range in fine-tune window is same with the manipulate version of `variogram.fit`, which [calculated the range max as `1`](https://github.com/ctmm-initiative/ctmm/blob/dd1a6fb30019a6da8a0adf4a12f84a2f26124243/R/variogram.R#L955), then [converted the slider value](https://github.com/ctmm-initiative/ctmm/blob/dd1a6fb30019a6da8a0adf4a12f84a2f26124243/R/variogram.R#L1053) with `fraction <- b

[2017-05-09 14:14] xhdong-umd commented on #17
@chfleming For our interface for `variogram.fit`, `variogram.fit.plot` should just take value of `fraction`, and it's the UI code's responsibility to convert between scales. So the manipulate version will generate the proper `fraction` value from the slider `zoom`, and the Shiny version will generate the proper `fraction` value from the log slider `fraction`.

If we can have the interface before t

[2017-05-09 14:19] xhdong-umd commented on #17
I'll look at the linux RStudio browser and see if the slider problem can be fixed later.

[2017-05-09 14:50] vestlink commented on #20
Vm is Very useful for this. Iwrote about this I  the collaborative animove
article.

On 9 May 2017 15:08, "xianghui dong" <notifications@github.com> wrote:

[2017-05-09 15:13] xhdong-umd commented on #17
I decided to stop on linux VM since it already took me one hour and I have not get R installed. I'll work on other issues first and check this later if have time. Before fixing the bug we will have to ask user to use firefox or chrome.

[2017-05-09 16:26] chfleming commented on #22
I agree

[2017-05-09 18:52] vestlink commented on #20
For testing purposes it would be usefull if testers (like me) would have one or a set of test scenarios that you want the testers to go through including guidelines regarding the amount of data and what logs you are interested in, e.g. sessionInfo() and so on. I think it will help to backtrack and troubleshoot your application. Nicolai

[2017-05-09 18:59] vestlink commented on #17
maybe a warning when fitting the model saying something like "The model fitting may take some time..."

[2017-05-09 19:04] xhdong-umd commented on #17
@vestlink There are notifications for all time consuming tasks. I also add a button initialize the model fitting explicitly, so it will not start after user switched page accidentally.

I planned to give user a summary of work plan before start fitting the models, and warn user about the plan that could take a long time to finish, like batch fitting many models.

[2017-05-09 19:09] vestlink commented on #20
i found this site f.y.i. http://www.osboxes.org

[2017-05-09 19:13] xhdong-umd commented on #20
Yes I have used the VM images there before. It still often took me quite some time to adjust a Linux to a easy to use state: resolution, font, shell, term, install softwares, editors, ...

Installing Linux itself actually is not too time consuming.

[2017-05-09 19:15] vestlink commented on #20
it would have been nice to have a vm image together with the release of every new R version...

[2017-05-09 21:02] xhdong-umd commented on #22
@chfleming I assume `as.telemetry` always sort the individuals by identity name, right? I need to sort the new individual after inserted it into the original data.

There are so many things need to consider to insert an artificial dataset. This approach may be easier for user, but is actually much more complex for developer.

[2017-05-09 21:39] xhdong-umd commented on #22
I finally finished this feature and updated the repo. It's quite complex because adding a new data set into an existing structure need to maintain and update a lot of things.

When you click the `generate subset` button, new individual will be generated and move back to visualization page, with a notification.

Subset on `Cilla` will benamed like `Cilla_subset_1`. Another subset on `Cilla` will be

[2017-05-09 22:37] chfleming commented on #22
I think `as.telemetry` leaves the order of animals the same as in the CSV file. The times do get sorted, though, but with a warning because that usually only happens when the time format is misspecified.

[2017-05-10 08:30] vestlink commented on #20
I got a ubuntu 16.10 from osboxes.org working with R 3.4.0 and RStudio and ctmm using the following:

https://mikewilliamson.wordpress.com/2016/11/14/installing-r-studio-on-ubuntu-16-10/
https://www.r-bloggers.com/how-to-install-r-on-linux-ubuntu-16-04-xenial-xerus/
http://stackoverflow.com/questions/20923209/problems-installing-the-devtools-package
https://github.com/domlysz/BlenderGIS/wiki/How-t

[2017-05-10 11:52] vestlink commented on #17
The "remove outlier" button seems a bit mis-placed when thinking about work flow.

I would consider moving it below the list ouf outliers listed considering that you would have to move back and forth too many times.

[2017-05-10 12:52] xhdong-umd commented on #17
Do you mean moving the button from top of the table to bottom of the table like this?

<img width="697" alt="screen shot 2017-05-10 at 8 45 49 am" src="https://cloud.githubusercontent.com/assets/25039897/25899356/8defb434-355d-11e7-88bf-cb6d08d60fd7.png">

I put it on top because there are also a reminder for user about selecting rows, so it's natural to select rows, then remove them. If put the b

[2017-05-10 13:23] vestlink commented on #17
I see your point. Add long as it is described I  the work book to guide the
users or should be no problem

On 10 May 2017 14:52, "xianghui dong" <notifications@github.com> wrote:

[2017-05-10 13:34] xhdong-umd opened #23 "Test app behavior with various data sets and usages"
In the development I mostly tested the app with 3 - 4 data sets. It will be very helpful to test the app with different data sets and usages.

I plan to make a beta release this week. Any test from team members and users are welcome and appreciated.

Thanks!

[2017-05-10 13:46] xhdong-umd commented on #20
@vestlink Thanks for the offer!

There are two aspects in my testing goals.
- One is the deployment process, i.e. to get the app up and running. After the app is running, it's mostly browser's behavior. Browser should be quite consistent across platform, so I don't think we have to test with all browser/platform combinations.

  For example @jmcalabrese found the log scale slider in visual diagnos

[2017-05-10 13:54] vestlink commented on #20
I Will look into this asap but prob in about 4-5 hours from now

On 10 May 2017 15:46, "xianghui dong" <notifications@github.com> wrote:

[2017-05-10 14:49] vestlink commented on #23
101684640	Ovis aries, Hol, Buskerud, Norway downloaded from Movebnak
everything ok, except home range

R version 3.4.0 (2017-04-21)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Sierra 10.12.4

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Ver

[2017-05-10 14:53] vestlink commented on #23
70397061	Ovis aries, Nordøsterdalen, Norway downloaded from Movebank

Failed at import

Listening on http://127.0.0.1:4041
Maximum speed of 0.931742399929265 m/s observed in 71608843
Minimum sampling interval of 60 minutes in 71608843
Maximum speed of 0.674794205728709 m/s observed in 71608847
Minimum sampling interval of 60 minutes in 71608847
Maximum speed of 2.76815758956926 m/s observed in 716

[2017-05-10 14:53] xhdong-umd commented on #23
Currently only pages up to **Visual Diagnostics** are finished. The latter pages used to have very simple features in the previous version, but now they are disabled because the app structure has changed a lot.

For Home Range page I just removed all the boxes so it may look weird. I probably should add something like "page under construction".

[2017-05-10 14:57] xhdong-umd commented on #23
Thanks for this test. It looks like the speed outlier calculation met some problem with the data. I cannot download this data so I cannot test it now.

Maybe I should change app so that it will still work with the data just with the speed outlier feature disabled.

[2017-05-10 14:58] vestlink commented on #23
I could make the data available for you via dropbox

[2017-05-10 15:00] xhdong-umd commented on #23
@vestlink , thanks! That will be very helpful.

I'll also try to make the app work even if it had errors with speed outlier calculation.

[2017-05-10 15:06] xhdong-umd commented on #20
@vestlink Thanks a lot for the help!

I also tested above procedure in Macbook, it went smoothly. Of course there could still be some difference in Mac OS version etc, but I think this should be enough for platform tests. Testing app with different data probably will reveal more problems need to be fixed.

[2017-05-10 15:07] vestlink commented on #20
https://www.dropbox.com/sh/v5q9kd2jb6xryk7/AADUKqM_4KLpdeP-4DFz-RiRa?dl=0

[2017-05-10 15:08] vestlink commented on #23
https://www.dropbox.com/sh/v5q9kd2jb6xryk7/AADUKqM_4KLpdeP-4DFz-RiRa?dl=0
 both the linux vm and the failing data

[2017-05-10 15:09] xhdong-umd commented on #20
@vestlink Is posting the data publicly OK for you? You can send the link to my email if you want.

[2017-05-10 16:24] vestlink commented on #20
Publicity would be ok.  They are at movebank anyway :) but I will ask my
supervisor

On 10 May 2017 17:09, "xianghui dong" <notifications@github.com> wrote:

[2017-05-10 17:53] vestlink commented on #23
Ubuntu 16.10 64 bit works like a charm...

[2017-05-10 18:05] xhdong-umd commented on #23
Interesting, the error message posted above said it was having problem in speed outlier calculation, but I can't even import this csv file.

[code]

@vestlink Did you download the data through the movebank import feature, instead of uploading the csv file? The movebank import have less columns so maybe that's why it passed the import process.

[2017-05-10 18:10] vestlink commented on #23
I used the import feature yes

On 10 May 2017 20:05, "xianghui dong" <notifications@github.com> wrote:

[2017-05-10 18:14] xhdong-umd commented on #23
Can you save the imorted data as csv and share that csv? The are two problems here:
- import full csv into ctmm
- speed outlier calculation

With the imported csv I can look at the 2nd problem a little bit. For the first import problem I will ask @chfleming , probably some data format compatibility issues.

[2017-05-10 18:53] vestlink commented on #23
i see issues regarding the naming of the csv when saved. See the shared dropbox for the requested csv

[2017-05-10 18:56] xhdong-umd commented on #23
The original file name may cause some problem, but I modified the file name in my test already. It's more about column names or formats for importing.

When you trying to save the csv in app, is there any problem with the proposed file name? I used a filter to remove special characters in that proposed file name, but I'm not sure if it can handle this case properly.

[2017-05-10 19:05] vestlink commented on #23
no problem with the file name, it is just wrong and do not reflect the movebank project that i've downloaded

[2017-05-10 19:07] vestlink commented on #23
it should have been 70397061, Ovis aries, Nordøsterdalen, Norway

[2017-05-10 19:08] xhdong-umd commented on #23
Got it, this is still the same bug with the data manager.

[2017-05-10 19:14] xhdong-umd commented on #23
I updated the repo, now the save file for movebank import should give proper file name.
The app also isolated the outlier with other pages. So it can work with this data as long as you don't use the outlier page. I'm still working on this part so there may be other problems.

[2017-05-10 19:23] xhdong-umd commented on #23
@chfleming It seemed to be problem with `ctmm:::time_res`. My code here used `ctmm:::time_res` on data frame of each individual.

[code]

The previous naive leaving speed definition don't have problem, probably too simple to fail.

[2017-05-10 20:09] xhdong-umd opened #24 "Deal with possible error in speed outlier calculation"
The original outlier issue discussion is too long so I'm creating an new issue here.

## Problem
Some data may have unexpected errors that make speed outlier calculation fail. Currently the app calculate the speed in importing, so it will fail with this kind of data. We cannot predict all the possible data errors so this can still happen in future if we fixed for known cases.

## solution a
Instea

[2017-05-10 20:24] chfleming commented on #23
I will look into it.

[2017-05-11 10:12] vestlink commented on #23
Listening on http://127.0.0.1:4616
Warning: Error in : Please install xml2 package
Stack trace (innermost first):
    73: need_package
    72: parser
    71: parse_auto
    70: httr::content
    69: request [helpers.R#282]
    68: get_all_studies [helpers.R#291]
    67: observeEventHandler [C:\temp\RtmpAhtiK8\shinyappd182dbc43df\ctmm-webapp-master/server.R#125]
     3: runApp
     2: runUrl
     1

[2017-05-11 12:38] xhdong-umd commented on #23
Got it. I need to add `xml2` to package dependency list. My test in the isolated R libraries didn't test the movebank import so I didn't catch this. Thanks!

I'm still working on some substantial changes on code so probably will not push the changes to repo now.

[2017-05-11 16:09] xhdong-umd commented on #23
I updated the repo with the `xml2` fix, speed calculation now have fall back method, and it's isolated in outlier page, so new data should not crash the app.

[2017-05-11 16:15] xhdong-umd commented on #24
I implemented both solution a and b. The new implementation will not have the plot refresh I mentioned earlier, but it need to calculate speed on current subset on demand. This should be better than refresh plots because math calculation usually is faster than rendering plots.

By isolating outlier calculation to outlier page have many other advantages, but it took me quite some hard thinking, dis

[2017-05-11 16:15] #24 closed

[2017-05-11 16:18] xhdong-umd commented on #22
I decided to always sort the list so the identity is sorted. Maybe this behavior is different from ctmm but that should not be a problem.

The feature is complete now, after I spent quite some time changed how outlier pages works, also fixed some hidden bug when outlier and time subsetting both exist.

[2017-05-11 16:18] #22 closed

[2017-05-11 16:25] xhdong-umd commented on #17
I changed the title to focus on variograms. The variograms feature is complete, so I'm closing this issue now.

When I need to work on models again, I'll create an new issue to continue the discussion on work flow.

[2017-05-11 16:58] vestlink commented on #5
one thought regarding filtering outliers.

Would it be reasonable to think that your would actually want to filter e.g. speeds above a certain value and delete the values above a chosen threshold?

If so, a "select all" button could be usefull after one have visually confirmed that they indeed should be removed. Is the "select all" is to be included, a "de-select all" could also be of use.

[2017-05-11 17:00] vestlink commented on #20
The updated repo is working on my data that failed previously.

I do notice this though:

Warning in structure(x, class = unique(c("AsIs", oldClass(x)))) :
  Calling 'structure(NULL, *)' is deprecated, as NULL cannot have attributes.
  Consider 'structure(list(), *)' instead.
Warning in structure(x, class = unique(c("AsIs", oldClass(x)))) :
  Calling 'structure(NULL, *)' is deprecated, as NULL can

[2017-05-11 17:08] xhdong-umd commented on #20
I noticed that warning too. It happened in removing outliers, but does not always happen. I'll look at it when it can be reproduced.

[2017-05-12 17:11] xhdong-umd opened #25 "Should we add Google Analytics to hosted app?"
[Google Analytics](https://en.wikipedia.org/wiki/Google_Analytics) is a widely used free service that tracks and reports website traffic. By [including some javascript code in the web app](http://shiny.rstudio.com/articles/google-analytics.html), we can get some statistics about user origin(`IP addresses`), time spent on app or even specific pages.

The information could be good to have. However s

[2017-05-13 00:20] chfleming commented on #23
@xhdong-umd I have it fixed on GitHub now. There was no logic in `time_res` for individuals with only 1-2 locations.

I also had to fix `as.telemetry` to only take extra columns that are not filled with `NA` values.

[2017-05-13 01:01] xhdong-umd commented on #23
I tested with the current github verion ctmm. The original csv can be imported without problem, but I still saw the speed calculation had error and fell back to alternative method. This is not a problem though, the app will still behave and we have the fall back method. We can wait for more data cases before revisiting this again.

[code]

[code]

[2017-05-13 02:22] chfleming commented on #23
I tested `time_res` and forgot to test the other functions, which also needed similar logic to handle the case of two data points. Its fixed now.

[2017-05-14 01:14] xhdong-umd commented on #23
Yes, it's almost impossible for us to predict all kinds of corner cases... Now we have the `delete individuals` button, user can also sort by `point count` then delete them if that's acceptable.

[2017-05-22 14:20] xhdong-umd commented on #25
I think the benefit doesn't overweight the potential problems, so no need to add it.

[2017-05-22 14:20] #25 closed

[2017-06-01 20:36] xhdong-umd commented on #19
We have signed up for the basic plan.

After some time tuning the app configurations and experimenting, now the hosted app can support several users using the time consuming model fitting feature at the same time.

In theory our plan should support
- up to 20 users for these kind of computation expensive procedures, this is less than my expectation of 32 because the parameter combinations are limi

[2017-06-02 15:03] xhdong-umd commented on #20
@jmcalabrese @chfleming
I realized you don't really need RStudio to run a Shiny app, and tested with my app in command line successfully. So it's possible to write some script to automate the package upgrades, app download and app launching.

This means a user not familiar with R can just install R (which has installers for each platform, should not be a problem to install), then run some script a

[2017-06-02 15:05] xhdong-umd commented on #20
@vestlink I found the cause of that warning, which is R 3.4 start to warn the usage of `I(NULL)`. It's in the upstream package `DT`, but I changed my code anyway to avoid the warning.

[2017-06-23 06:16] vestlink commented on #20
@xhdong-umd thank you for your information regarding the warning issues.

[2017-07-13 17:48] xhdong-umd opened #26 "explore parallel options to speed up"
There are some computational intensive tasks in modeling stage can benefit from parallel computing.

- parallel is a complex problem involved multiple layers, components, problems
- we can get some speed up at least for embarrassingly parallel tasks
- linux and Mac may see better performance, while windows may have more overhead and less gain.
- we will try to create an uniformed approach that wor

[2017-07-13 20:51] xhdong-umd commented on #26
Parallel computing is a complex problem, and I found many articles try to make it look simple by hiding details. The examples may be very simple but I started to note lots of details once dig a little deeper. I spent several days to read and experiment extensively. The recent [useR 2017 talk](https://channel9.msdn.com/Events/useR-international-R-User-conferences/useR-International-R-User-2017-Conf

[2017-07-14 14:24] xhdong-umd commented on #26
There are several methods of parallel:
- mclapply, simplest to use, low overhead in theory. Only works with linux, Mac.
- fork cluster, only work in linux, Mac, with more overhead but the code is almost identical with other cluster options.
- sock cluster, work in linux, Mac, windows or more. This supposed to have more overhead.

Contrary to what I read, I found sock cluster is not slower compare

[2017-07-14 19:51] xhdong-umd commented on #26
I have tested all the options in Mac and windows VM extensively.

My observation is that parallel in windows works relative well. In a VM with "4 cores", the speed up factor is 2.02. I believe a physical windows machine should have better results.

In Mac all options work similarly well. The differences are small and can vary a lot in different runs.

I put a RMarkdown document [here](https://gist

[2017-07-17 01:35] xhdong-umd commented on #26
I received @chfleming 's test result in email.

In summary, the speed up from parallel in various platforms are:

- Mac with 4 cores, 40/12 = 3.33
- Windows with 8 cores, 45/9 = 5
- Windows with 2 cores, 71/37 = 1.91

I think the speedup is quite good for these simple parallel tasks. Even the sock mode in windows also have good gains in performance. We definitely should use it.

It's tricky to fin

[2017-07-17 20:25] xhdong-umd commented on #26
Previously I thought we can use the cluster method (fork for linux/Mac, socket for windows) as the generic method, but it turned out shinyapps.io meet error with the cluster method, even the same code can run without problem in local mode.

My guess is Shiny server used forked R processes to handle user requests, so maybe the fork clusters interfered with the Shiny server and failed. I can use the

[2017-07-17 21:41] chfleming commented on #26
I've been writing some parallelized optimization code and this is what I do in generic.R to have mclapply for UNIX and lapply for Windows (ignore the fftw stuff):

`# parallel functions
detectCores <- parallel::detectCores
mclapply <- parallel::mclapply

.onLoad <- function(...)
{
  if(is.installed("fftw")) { utils::assignInMyNamespace("FFT", FFTW) }

  if(.Platform$OS.type=="windows")
  {
    uti

[2017-07-18 02:29] xhdong-umd commented on #26
I think mclapply will become lapply with mc.cores=1 , so you can just set cores to 1 in windows, right?

[code]
I'm working on a general function that use mclapply in shinyapps.io, use fork in linux and Mac, and use socket in windows. It seemed to work now but these parallel stuff are quite tricky.

[2017-07-18 03:02] xhdong-umd commented on #26
I just updated the app with a testing feature.

- select Buffalo data in ctmm
- move to model fit page, adjust two parameters
     + population is the number of individuals, click the button will fit all individuals
     + subset size is the data size of each individual, bigger size need more time to fit. I'm actually just taking subset from first buffalo, so the population * size must < 3528.
- t

[2017-07-18 03:38] dracodoc commented on #26
Running app in windows still has some bug. I need to sort it out tomorrow.

[2017-07-18 12:33] xhdong-umd commented on #26
OK, the bug with windows is fixed now.

[2017-07-19 18:31] xhdong-umd commented on #26
The performance gain of parallel in different platforms are as follows:

|platform                                  | cores| serial| parallel| performance gain|
|:-----------------------------------------|-----:|------:|--------:|----------------:|
|win 10 for 10 x 300 task, script          |     8|     49|       11|             4.45|
|win 10 for 10 x 300 task, app             |     8|     50|

[2017-07-19 18:31] #26 closed

[2017-07-20 13:43] xhdong-umd commented on #17
@chfleming , I'm adding the switch of `ERROR` for vairogram. I didn't find any visual difference with `ERROR` on or off, is this normal?

[code]

Another question, will turning on `ERROR` change the error slider in the fine tune UI `variogram.fit`?

[2017-07-20 14:14] xhdong-umd commented on #17
I also noticed you mentioned pooling variograms in the vignette. Do you think it worth to be added to the app?

There could be a button that generate a popup window (or add another tab to the variogram box, that might be better since you can switch between two tabs easily), which pool all the individuals into one variogram. There can be a check list to select which individuals to be added/removed

[2017-07-21 20:15] chfleming commented on #17
I think the first options to throw in should be the `dt` option, and maybe `res` with that, for people with very irregular data.

For pooling, users will often want to select specific subsets of individuals with similar looking behavior. Sometimes that will be all individuals.

[2017-07-21 20:21] xhdong-umd commented on #17
So you mean there should be the options of `dt`, `res`, `error` for variogram fitting? Using same options for all individuals is relative easy, but more cumbersome if you want to use different options for different individuals.

After pooling, how do we incorporate that pooled variogram into the general workflow, which usually involved separate result for each individual?

[2017-07-24 03:40] chfleming commented on #17
The `dt` and `res` arguments are useful in calculating the variogram (before fitting) when people have irregular data. This would be for the optional `variogram` argument of `variogram.fit`/`ctmm.guess`'
For these options, I think its fair to have users group their data by sampling schedule, at least for the time being, if that makes your work easier.

Pooling is useful when individual data is spa

[2017-07-24 14:57] xhdong-umd commented on #17
@chfleming @jmcalabrese I was going to move to model selection step then I saw `ERROR` option was mentioned before, so I thought I will just add it if it's simple. Now it seemed that `dt`, `res` and pooling will take some time to design and implement, for example
- how should we take input of `dt`? some text field with units, or should we provide the sampling interval of data for reference, or let

[2017-07-24 23:43] chfleming commented on #17
I would put model selection as a priority over variogram calculation options. Especially over pooling.

For `dt` I would use a drop-down box for units.

[2017-07-25 14:06] jmcalabrese commented on #17
I agree with @chfleming about prioritizing model fitting/selection. I would prefer that the app has at least basic functionality all the way through AKDE by the animove course. We can worry about more advanced options once that's in place.

For dt, it might be useful to let the user visually select one or more values by clicking on a histogram of the sampling intervals in the data. In my experienc

[2017-07-25 14:29] jmcalabrese commented on #17
The pooled variogram only makes sense if you've got sparse data and individuals exhibit broadly similar movement behavior. If you're in that regime, then I think there are two scenarios where the pooled variogram could be useful : 1) you're interested in the variogram per se, and aren't going to go any further with the analyses, and 2) You want to get representative parameter guesses for model fit

[2017-07-25 14:37] xhdong-umd commented on #17
Thanks @jmcalabrese , with these detailed usage I can try to design easier to use UI and workflow.

The variogram plots are difficult to add other UI elements as they are a single item of grouped base plots. I think I can make a table of individual names with same layout of variograms, then user can select individuals and pool them together.

I'll put these in notes and work on model selection fir

[2017-07-27 15:56] xhdong-umd commented on #20
I found [my bug report to shiny DT](https://github.com/rstudio/DT/issues/421) was misidentified as a duplication, so they didn't really fix the bug. I changed my code so it should avoid the warning completely now. I also reminded them again about the bug.

[2017-07-28 16:03] xhdong-umd opened #27 "Model selection, home range, occurence"
@chfleming @jmcalabrese I wrote a script to do model selection and home range for a list of individuals, use parallel when possible. [This is the result of script](https://cdn.rawgit.com/xhdong-umd/aeaaef871abccef6e66d5c3400403fcf/raw/11ae86a5ef121466f0489809c70a41380cf163ec/model_selection.html).

Questions:
1. Is there any problem with the script doing model selection and home range?
2. Sometime

[2017-07-28 16:14] xhdong-umd commented on #27
I just found an error in script, will fix it soon.

[2017-07-28 19:26] xhdong-umd commented on #27
For the model summaries, I wanted to convert the text format to a table so we can list multiple individuals together and compare easily. It will definitely save some space in app. So instead of

[code]

We  can have something like this

<img width="834" alt="screen shot 2017-07-28 at 2 46 42 pm" src="https://user-images.githubusercontent.com/25039897/28731864-9a96a268-73a3-11e7-87d8-7fdca03e667c.p

[2017-07-28 22:43] chfleming commented on #27
If you set `units=FALSE`, then you should always get SI units from `summary.ctmm`. Tell me if any other functions need this argument as well.

There is a `level` option for `ctmm.select` that determines how aggressively alternative models will be considered. If other models are very unlikely and `level<1`, then `ctmm.select` may only return one model with `verbose=TRUE`.

Getting all of the AKDEs

[2017-07-29 01:00] xhdong-umd commented on #27
I didn't notice the `units` parameter! I think there are two approaches to get a table summary:

- add a parameter `table = FALSE` to `summary.ctmm`. By default it still act the same. With `table = TRUE` I can add some code to generate the summary in table format. By adding code in `summary.ctmm` I can access all the values directly and less depend on specific summary output format.
- alternativel

[2017-07-30 18:37] chfleming commented on #27
The only thing that should change about the output of `summary.cmm` in the near-term is the possible addition of further rows for additional parameters.

The default `level` argument should be fine as long as `ctmm.select` and `ctmm.fit` are working properly... and if they aren't then that's something I try to fix with high priority.

[2017-08-01 15:43] xhdong-umd commented on #27
@chfleming @jmcalabrese
I've just finished on model selection and home range. The app is updated [here](https://ctmmtest.shinyapps.io/webapp/). The summary of models and home range are still direct print of `summary`, I'll work on table format output in next step.

I reorganized the app structure:
- There is a radio button in data import page to use a sample of buffalo data. Using default 100 poin

[2017-08-04 15:24] xhdong-umd commented on #27
@chfleming I found `summary.ctmm` with `units = FALSE` will return speed at `m/day`, which is not SI unit. My conversion function was using `ctmm:::unit` with `speed` dimension and expected `m/s`.

[code]

I can add exception to my function but maybe `summary.ctmm` should return `m/s` with  `units = FALSE`?

[2017-08-07 19:28] xhdong-umd commented on #27
I finished the model/home range summary table and updated the app. The table also have same color theme with data summary table in visualization page.

It's tricky because some columns have a lots of digits, might related to some near zero values forced the whole column to be formatted with lots of digits. I have to round off specifically for them. I'm using `digits = 2` and round to 3 digits for

[2017-08-08 15:35] xhdong-umd commented on #27
@chfleming @jmcalabrese
In working with occurrence, I found I didn't add the option to use different models in home range (probably spent too much time on table summary format). I plan to use this structure both for home range and occurrence:

- the fitted model summary will hide the CI low and high by default to make models easier to compare. The CI low and high can be turned on with a checkbox.

[2017-08-09 20:50] xhdong-umd commented on #27
I have made the app work with any model selection.

- just select some models then switch to home range page or occurrence page (CI confidence intervals are hidden by default).
<img width="839" alt="screen shot 2017-08-09 at 4 42 27 pm" src="https://user-images.githubusercontent.com/25039897/29143055-df29fc68-7d21-11e7-8bb5-4e77a87171cd.png">

<img width="800" alt="screen shot 2017-08-09 at 4 43 5

[2017-08-09 20:54] #23 closed

[2017-08-09 21:13] xhdong-umd commented on #27
sometimes there are some errors on plot of occurrence, seemed to be xlim being inf

[code]

[2017-08-10 18:37] xhdong-umd commented on #27
Since user can select models for home range and occurrence, I went one step further to make the variograms map to selected models too. Any combination is possible, and user can compare variograms of different models for same individual.

[2017-08-14 20:34] xhdong-umd commented on #20
I finally got Linux Mint working in virtualbox. Ubuntu created a lot of problems for me but Linux Mint is very smooth.

Other than some R package installation minor problems, the app is running well under Linux, including the parallel computing mode.

[2017-08-14 20:34] #20 closed

[2017-08-15 20:32] xhdong-umd commented on #21
Previously I planned to build an app website with `blogdown`. However I met a lot of bumps in using `blogdown` with certain themes. On the surface you have tools, themes and framework, but you actually need to learn a lot of details specific to the theme or framework to do anything other than the simplest example.

Since the app website should not be organized like a personal blog, maybe [`bookdow

[2017-08-17 06:55] vestlink commented on #27
Would you also be able to get "area" when calculating occurence for each animal?

@xhdong-umd  mcapply. I don't think it will work on a windows based pc. I've had trouble using this in other calculations I've done. I know taht Microsoft will relaese and win 10 that will be capable of using 4 cores, but I don't know if it is out yet. I think Unix-base OS'es atm are the only ones capable of MC (plea

[2017-08-17 12:41] xhdong-umd commented on #27
@vestlink The app will choose different parallel methods based on platform: mclapply for linux/mac, sock based `parLapplyLB` for windows. You can try the app in local mode, and the console message will show some information of the parallel method and the time used in the process.

[2017-08-17 16:15] xhdong-umd commented on #27
@chfleming It seemed that the code I tried for overlaying location data actually works as intended.

The plot in paper
<img width="1070" alt="screen shot 2017-08-17 at 11 54 30 am" src="https://user-images.githubusercontent.com/25039897/29421393-f36bd558-8342-11e7-8c91-23b816cf7fcc.png">

The plot of UD

<img width="1174" alt="screen shot 2017-08-17 at 12 00 32 pm" src="https://user-images.githubu

[2017-08-17 20:05] xhdong-umd commented on #27
Maybe we can just add one slider for `level.UD`.  The contour will disappear when `level.UD` become 1

[2017-08-17 20:32] xhdong-umd commented on #27
I implemented the level slider like this:

<img width="682" alt="screen shot 2017-08-17 at 4 30 29 pm" src="https://user-images.githubusercontent.com/25039897/29432406-7849960e-8369-11e7-8570-3fdf2bac8b0e.png">
<img width="683" alt="screen shot 2017-08-17 at 4 30 36 pm" src="https://user-images.githubusercontent.com/25039897/29432409-7ae4c64a-8369-11e7-882e-12e3053299a9.png">

The data was sampled

[2017-08-17 22:30] chfleming commented on #27
@xhdong-umd `units=FALSE` on speed and diffusion parameters should be in SI units now.

[2017-08-18 06:27] vestlink commented on #27
One nice feature one could think about is the possibility to export the 95% (or other % UDs) as shapefiles for import into e.g. QGIS for further analyses...

Sometimes you would also be interested in multiple CL as 20,50 and 85%. Maybe one could think of a way to pass something like this c(0.20, 0.50, 0.95) when making the occurrence plots

[2017-08-18 12:46] xhdong-umd commented on #27
The shapefile export feature will be a part of our general feature of export/save, which should include everything generated in app. That's an important but complex feature, I will start to work on it later.

If everybody think this shapefile export is good to have now, I can also add it now.

The easiest way to input multiple CL seem to be a text box accepting something like `20,50,95`, though it

[2017-08-18 14:13] xhdong-umd commented on #27
I have updated the app to use the latest `ctmm` with `units=FALSE` change. Note the app will report much bigger speed values with previous ctmm version.

I also added a text field for CL:

<img width="674" alt="screen shot 2017-08-18 at 10 11 10 am" src="https://user-images.githubusercontent.com/25039897/29462571-d1a4c9b4-83fd-11e7-8d6b-fc17f5a3cc59.png">

[2017-08-18 14:30] vestlink commented on #27
Looks good

On 18 Aug 2017 16:13, "xianghui dong" <notifications@github.com> wrote:

[2017-08-18 15:00] xhdong-umd commented on #27
The main hosted app is also updated since the features are mostly stable now.

[2017-08-18 15:14] chfleming commented on #27
@xhdong-umd

- Exporting options will be very useful for people... I think more important than occurrence distributions.
- If you have any data + script that reproduce those errors, please send them to me.
- I think you can make the contours go away with `col.level=NA` and also maybe `level.UD=NA`.

@vestlink

- I don't want to have the occurrence distribution output an area estimate (in square me

[2017-08-18 15:28] xhdong-umd commented on #27
I found contours can be turned off with `level.UD = 1`, i.e. input `100` in the text field, that should serve the purpose. Adding another checkbox will conflict with the level input box.

I'm not seeing any error with occurrence now with the updated `ctmm`.

For exporting data, what kind of options should be provided?
- home range or occurrence, or both?
- with location data?
- in all kinds of for

[2017-08-18 17:49] chfleming commented on #27
I think shapefiles for the home-range contours will be the most important export support (aside from PNG images), because that's a format for people using GIS software, whereas `sp` and `raster` are for working within R.

I'm not sure if there are unintended consequences with setting `level.UD=1`, as that would be drawing contours around the rectangle of the raster.

[2017-08-18 17:55] xhdong-umd commented on #27
If it's not conceptual right to remove contour by setting `level.UD=1`, we can use this input convention:
- by default the text field is pre-filled with 95, drawing 0.95 contour
- if the text field is cleared as empty, the contour will be removed

This should be intuitive and easy to switch between different options.

[2017-08-18 18:00] xhdong-umd commented on #27
For the export feature, maybe we should just do the single most important feature of exporting home-range shapefiles. The other options will need a complicate design which probably need to be redone later.

[2017-08-18 19:38] chfleming commented on #27
That sounds good for the exporting.

For the parameter estimate CIs, can you have the colors step up: light (low), medium (ML), dark (high) on each individual if they are going to be on their own row.

[2017-08-18 19:50] jmcalabrese commented on #27
@vestlink: I agree with @chfleming about not giving an area estimate for occurrence dists. We don't want to propagate that practice, given the way that folks in the literature misinterpret Brownian bridges as home range estimates.

@xhdong-umd: I think a quick-and-dirty shapefile export for home ranges is fine for now, and then a more comprehensive and carefully designed suite of export options ca

[2017-08-18 20:20] jmcalabrese commented on #27
Just took a look at the updated webapp, and I think the workflow is very streamlined overall. Nice! I like the reorganization of the former variogram and model selection pages into a single page and think that works very well.

A couple of observations:

1) The default canvas height (400) for figures on the visualization page renders really small on my system. I had to set it to 1000 or so to get

[2017-08-18 20:38] xhdong-umd commented on #27
@chfleming
I adjusted the level input of occurrence plot as above.

I applied different luminance (lightness) for different estimate CIs like this. I'm not sure this will work well, since the combination of lightness and color may look different depend on the actual color, some row may become difficult to read.

<img width="689" alt="screen shot 2017-08-18 at 4 31 33 pm" src="https://user-images.g

[2017-08-18 20:47] xhdong-umd commented on #27
@jmcalabrese
1. I found 400 is not too small if the plot is a landscape picture, because the limiting factor is the page width, when increasing the figure height will not increase figure size at all. With a portrait picture 400 is often too small, originally I have the canvas fixed at 730. However that will have lots of empty space for buffalo data.

     I can set the default to be a bigger value

[2017-08-18 20:56] jmcalabrese commented on #27
@xhdong-umd:

My display res (1920x1080) is not super high by current standards, but 400 still renders pretty small. I would say bump the default up to 600 and lets see what other users think

For displaying the CIs could we just do MLE (Lower CI, Upper CI) in a single column for each individual? The there's still some visual distinction between the MLE and the CI, and it should take up less horiz

[2017-08-18 21:01] xhdong-umd commented on #27
@jmcalabrese @chfleming  according to `?plot.telemetry`

(I picked some words from this to make the previous title.)

I'm adjusting `level.UD` in `plot(selected_occurrences[[1]], level.UD = c(0.5, 0.95, 0.8))` for occurrence plot.

For home range plot, every usage below gave me some errors. Is there something wrong with the usage? I'm not sure which one I should use for home range plot.

[code]

[2017-08-19 02:01] xhdong-umd commented on #27
@jmcalabrese I'm not sure I understand the `MLE (Lower CI, Upper CI) in a single column for each parameter`. Does you mean put 3 values in one cell? Can you show some sample rows?

For the NA values, I realized I can actually add one extra step after the unit formatting. It should be easy to do this way.

[2017-08-19 07:50] vestlink commented on #27
@jmcalabrese and @chfleming The 95% Brownian Brigde not being a valid interpretation as a home-range estimator indeed news to me. I may have fallen into the common pitch of mis-interpretation, but have been guided by very recent literature that has mentioned e.g. Brownian Bridges methods as valid estimators. See e.g. "Is there a single best estimator? Selection of home range estimators using area-

[2017-08-20 17:07] chfleming commented on #27
@vestlink Yes, the lumping of the BB with home-range estimators by Walter et al (and pretty much every one else in the literature) is incorrect. KDE/AKDE and BB/CRAWL estimate completely different distributions. We pointed this out as an ancillary fact in the first appendix of the AKDE paper and in the intro of the Kriging paper.

Justin is leading a paper specifically focused on this distinction

[2017-08-20 17:13] chfleming commented on #27
@xhdong-umd

*Instead of changing the font color from low to high, I was thinking of changing the background color of the row itself. They already alternate from white to grey. Alternatively, maybe we could have low to high span 3 columns and give the user a check box or drop down selector of which parameter(s) to show in the table. I'm not sure the best way to do this, as we have essentially 3D d

[2017-08-20 17:23] xhdong-umd commented on #27
- I'm inclined to use light gray, medium gray color for low and high, compare to all ML rows with color. I'll post a screenshot and judge if it will work.

- I have made this mistake before and correct it later, but forgot this again!

[2017-08-21 05:53] vestlink commented on #27
@chfleming Thank you for your clarification. The paper will indeed be appriciated. But, I think it is to be expected in a fast pacing and relativley new field as animal movement ecology is.

[2017-08-21 12:49] xhdong-umd commented on #27
@chfleming To have low to high span 3 columns will need 9 columns for area, tau position, tau velocity. We have this much information to represent so the best we can do is to reduce duplications and make it easy to grasp one aspect if user want. The previous multi rows is not ideal because it's kind of difficult to separate between rows.

Other than the gray color option, I thought about this form

[2017-08-21 15:27] xhdong-umd commented on #27
@chfleming I tried this but there are still some problems.

[code]

[2017-08-21 16:26] xhdong-umd commented on #27
I changed the canvas height default to 600, updated the title of occurrence plot level input.

I also replaced the NA values in model summary table to empty cells. I think it should be less cluttered compare to a explicit `NA` value.

<img width="1036" alt="screen shot 2017-08-21 at 12 24 06 pm" src="https://user-images.githubusercontent.com/25039897/29528948-ee097fda-866b-11e7-9ec7-b77ee9244fb4.p

[2017-08-21 16:37] vestlink commented on #27
A digression: Have you noticed when you try to sort selected outliers, sorting is not consistent.

[2017-08-21 16:48] vestlink commented on #27
It looks like sorting is independent of animal ID for all but the distance_center

[2017-08-21 17:36] xhdong-umd commented on #27
@vestlink I'm not sure what did you mean. User can sort the table by clicking the arrow in each column. There are reasonable reasons for several sorting choices, so I'm expecting user to sort by themselves.

The sorting is still not perfect since the values are text with the units instead of numbers, so 9.9 will be sorted as larger than 10. The only way I can think of to fix this is to have the va

[2017-08-21 18:07] xhdong-umd commented on #27
I added a column of SI values so it can be used for proper sorting.

<img width="875" alt="screen shot 2017-08-21 at 2 04 59 pm" src="https://user-images.githubusercontent.com/25039897/29532226-05103fe4-867a-11e7-85ca-7f3e0daca825.png">

[2017-08-22 13:24] xhdong-umd commented on #27
@chfleming [Here is a reproducible code with data](https://drive.google.com/file/d/0B9sVl4r-TWolX1NCRFY0RWVFSmc/view?usp=sharing) for the warnings of home range plot with CI levels.

[2017-08-22 14:32] xhdong-umd commented on #27
@chfleming @jmcalabrese If you think this format is good, I can go ahead to make this format as default option to encourage users always look at CI values.

Then do we still need keep the option of hide CI values? The only advantage of that option is that it's easier to select models for variogram, home range and occurrence since each model only take one row.

The change need quite some changes in

[2017-08-22 14:48] xhdong-umd commented on #27
I changed the table theme back to the default style and removed the background color. I think the table is clear that every different type of model have a distinct color.

<img width="940" alt="screen shot 2017-08-22 at 10 44 30 am" src="https://user-images.githubusercontent.com/25039897/29571464-4472ab4c-8727-11e7-9cb9-631eafb92061.png">

One reason to keep the "hide CI value" option is that ther

[2017-08-22 15:08] xhdong-umd commented on #27
I realized the search box in table can be used to filter models

<img width="940" alt="screen shot 2017-08-22 at 11 06 28 am" src="https://user-images.githubusercontent.com/25039897/29572341-0d8c7326-872a-11e7-9450-3562e3f1ff93.png">

<img width="941" alt="screen shot 2017-08-22 at 11 07 46 am" src="https://user-images.githubusercontent.com/25039897/29572380-2bba2fa0-872a-11e7-8ddd-b114be9cfa6a.pn

[2017-08-22 17:06] chfleming commented on #27
@xhdong-umd

* I hadn't coded plot.UD to handle more than one contour per animal, but I coded that last night and it seems to be working well---and can interpret a color array for different individuals or different contours.
* Regarding the sorting, could you just put the numbers in one column and their unit string in the next column?
* Regarding the models summary, was there any way to color the

[2017-08-22 17:51] xhdong-umd commented on #27
I thought about putting the unit in a col, then found I cannot use the unit format function from `scales` anymore since it combined two steps in one function: scale the value, add unit. It's doable, just need a new function.

I tried different levels of gray previously, but not sure if it's easier to read.

<img width="951" alt="screen shot 2017-08-22 at 1 49 22 pm" src="https://user-images.github

[2017-08-22 17:52] chfleming commented on #27
I meant the background color, sorry.

[2017-08-22 20:03] xhdong-umd commented on #27
This is background in light gray and deeper gray. I still think the same color for same model them is easier to read.

<img width="961" alt="screen shot 2017-08-22 at 2 36 27 pm" src="https://user-images.githubusercontent.com/25039897/29584836-fe3c46d4-8752-11e7-8fb5-ea7df774c1c4.png">

I have separated the outlier units into separate columns

<img width="681" alt="screen shot 2017-08-22 at 4 02 5

[2017-08-22 20:08] chfleming commented on #27
For the summary background colors, I was thinking the low CI in white, the ML value in light gray, and the high CI in gray. This would give a gradient that matches the increase in value.

For the outlier table, my only other thought would be to make some of the column (variable) names a bit more concise, like `distance` instead of `distance_center` and `row` instead of `row_no`.

[2017-08-22 20:09] xhdong-umd commented on #27
I also tested the newest ctmm with the multiple level.UD for home range. It works well. I think we will need `export` to handle multiple level.UD too then. Currently that is not supported.

[2017-08-22 20:20] xhdong-umd commented on #27
The problem with the background color is that it has much stronger visual impact. And background can interfere with the row selection, since the selected rows are rendered with a darker background.

<img width="969" alt="screen shot 2017-08-22 at 4 18 40 pm" src="https://user-images.githubusercontent.com/25039897/29585605-bdcab0b0-8755-11e7-809f-544532bdc581.png">

With several rows selected

<img

[2017-08-22 20:26] chfleming commented on #27
Can you lighten the background colors to where the "high CI" value is even lighter than the "low CI" value there? I don't think it needs to be that dark to make a contrast.

[2017-08-22 20:29] xhdong-umd commented on #27
I made the color gradient much smaller. Now it looks better to me.

<img width="961" alt="screen shot 2017-08-22 at 4 23 35 pm" src="https://user-images.githubusercontent.com/25039897/29585968-ffb85620-8756-11e7-849e-e2a98cb4340c.png">

And the row selection is obvious too

<img width="946" alt="screen shot 2017-08-22 at 4 28 24 pm" src="https://user-images.githubusercontent.com/25039897/29585970-

[2017-08-22 20:31] chfleming commented on #27
Yeah, that looks good to me if we are going to go with the 3-row format.

[2017-08-22 20:47] xhdong-umd commented on #27
I added levels input for home range. Then it's reasonable to ask exported shapefiles use same multiple level.UD values. Currently `ctmm::export` don't support that yet.

[2017-08-22 20:53] chfleming commented on #27
Yeah, I'm going to try and get to that today.

[2017-08-22 21:18] xhdong-umd commented on #27
I have make the tables to show CI levels by default. The hide CI option is still valuable in selecting models, but we always present the CI rows first. The app will pre-select the first model of each individual after fitting, no matter which mode.

I also applied same color theme to home range model summaries.

I updated the repo (not the hosted version).

[2017-08-23 12:42] vestlink commented on #27
Could this data be used as an example of how an animal use space within a enclosure rather consistently over time?

The data would be available for general distribution...
![periodicity](https://user-images.githubusercontent.com/20791068/29616270-3645929c-8811-11e7-88d7-4978aaf10b4c.jpg)

[2017-08-23 13:17] xhdong-umd commented on #27
@chfleming The exported home range shapefile are just relative polygons, not the actual coordinates that can overlay with map, right?

There are some warnings generated, but I guess that's normal. I can read and draw the shapefile without problem.

[code]

[2017-08-23 14:45] jmcalabrese commented on #27
@xhdong-umd I'm still not crazy about the 3-row format, but I don't think there's a cleaner way to do it. Your last attempt at the table looks the best to me, so go with that. I'm fine with having a checkbox to turn off the CIs to reduce clutter as long as the CIs are visible by default.

[2017-08-23 14:48] jmcalabrese commented on #27
@vestlink Could you give us some more background about the data you mentioned? What species it, how big is the enclosure, is that animal alone or in a group, etc... It looks like the animal is doing a daily out-and-back kind of movement within its enclosure. Have you looked at the periodogram yet?

[2017-08-23 20:17] xhdong-umd commented on #27
I have added a simple export feature to save shapefiles of home ranges into a zip. Currently it's using default level.UD = 0.95. Once `export` start to accept multiple levels, I'll make it to take the user input levels.

I also updated the repo so you can test it.

[2017-08-24 02:37] chfleming commented on #27
@xhdong-umd
* shape-file export should now support multiple `level.UD` values.
* I'm not seeing the `NA` message.
* Shapefiles are polygons, but they have projection information in them too. They are designed to be laid over maps in GIS software.

[2017-08-24 06:46] vestlink commented on #27
@jmcalabrese The species is Ovis aries (Norwegian White Sheep), kept in an enclusure during a summers grazing season. The enclosure was approx. 0.3 ha. We used a setup with three enclosures of high sheep density, three og low sheep density and three control. The animals had access to salt lick stones in the enclosures. I will look at the periodogram.

[2017-08-24 13:55] xhdong-umd commented on #27
I tested the new export function and it worked well. I imported the shapefiles into carto.com and found them are laid over properly.

<img width="1013" alt="screen shot 2017-08-24 at 9 19 51 am" src="https://user-images.githubusercontent.com/25039897/29668260-83271fd0-88ad-11e7-9353-a1c90ac0eb55.png">

The plolygons also have the proper name information

<img width="1272" alt="screen shot 2017-08-

[2017-08-24 18:27] xhdong-umd commented on #20
I made the installation commands into a script, and instruct users to use one line in R console to install package and run the app.  It should be much easier for user: just install R and run one line.

[2017-08-25 13:25] xhdong-umd commented on #20
I tested the app in windows and found a bug relate to windows path separator. The bug has been fixed, and I have updated the repo and the hosted web app.

[2017-09-04 15:13] chfleming opened #28 "specify a standardized (HDOP=1) device error (UERE) in speed outlier detection"
Maybe I missed it, but I didn't see an input on the speed outlier detection page to specify a standardized (HDOP=1) device error (UERE). For GPS devices, these can easily scale from 2-20 meters.

[2017-09-04 20:54] xhdong-umd commented on #28
I forgot to add this. I think we also need some error parameters input in variograms fine tuning page. Are they the same value? Where should we put this input?

So we just add

right?

[2017-09-05 07:10] chfleming commented on #28
Those are reasonable defaults for the outlier detection.

For the variogram it actually needs a slider to match the shape of the variogram.

[2017-09-05 15:08] xhdong-umd commented on #28
I added a input field for UERE.

<img width="679" alt="screen shot 2017-09-05 at 11 06 53 am" src="https://user-images.githubusercontent.com/25039897/30067976-62c31a60-922a-11e7-8a6b-bd4116a5e423.png">
<img width="671" alt="screen shot 2017-09-05 at 11 07 01 am" src="https://user-images.githubusercontent.com/25039897/30067980-6447743a-922a-11e7-8dad-841e41d285c5.png">

I used a text input instead

[2017-09-05 15:42] xhdong-umd commented on #28
I further ensured the input to be numeric, and gave error messages when the provided UERE was too large (which will cause all speed values to be 0).

I updated the hosted app since nobody is using it now.

[2017-09-06 14:13] chfleming opened #29 "variable number of data columns"
I just fixed a bug in `as.telemetry` for data with different information in them (some with HDOP others without). Previously `as.telemetry` would accidentally delete all of the individuals without HDOP. Now `as.telemetry` only deletes the missing HDOP column from individuals without HDOP values.

But I'm almost certain this now does not work in `ctmm-webapp`. The error message is below:

[code]

[2017-09-06 14:17] xhdong-umd commented on #29
So the individuals with HDOP will have one extra column? The webapp merge all individuals into one data frame so the columns need to be same. I can make the individuals without HDOP to have a HDOP column of `NA`s. Will that `NA` HDOP column cause problem?

Can you point some example data so I can test it?

[2017-09-06 14:20] chfleming commented on #29
In this case its HDOP, but in other cases it will be something else.

I don't think the current ctmm functions would well handle HDOP=NA. HDOP=1 would work fine as a stop-gap solution.

[2017-09-06 14:24] xhdong-umd commented on #29
The `rbindlist` `fill = TRUE` argument will fill any missing column to `NA` by default. If `NA` can be interpreted properly there is no need to change the code for any future change.

For now I will add some code to manually set HDOP to 1.

[2017-09-07 10:17] vestlink opened #30 "Time sub-setting - improvement"
I was using the app with my data, and was missing the opportunity to be able to define a time-span (from date - to date), when in the time-subsetting pane.

Maybe two input fields in the "Current Time Range"?

[2017-09-07 14:01] xhdong-umd commented on #29
@chfleming Can you send/share me some data to test on this?

[2017-09-07 14:26] chfleming commented on #29
I don't have the specific data that triggered this because its highly restricted, but it would be like a CSV with two animals, one with numbers for HDOP and the other with NA for HDOP values.

At the moment, I have everything in `ctmm` coded up to do all of the cleaning in `as.telemetry` and subsequent analysis functions assume nothing bad like `NA`. I may have to reconsider at some point.

[2017-09-07 14:29] xhdong-umd commented on #29
Is the column name just `HDOP`?

[2017-09-07 14:33] chfleming commented on #29
This is an array of the possible values that I have seen in CSV files (taken from `as.telemetry` code):

`c("GPS.HDOP","HDOP","DOP")`

with differing case and `.` can also be `_`.

MoveBank format is not so restrictive.

[2017-09-07 14:36] xhdong-umd commented on #29
Do you want to standardize the column name after import? So the import process still recognize all the variations, but will rename it for all later processes. Otherwise you need to check these names every time when needed.

[2017-09-07 14:42] chfleming commented on #29
In `as.telemetry` I import the columns that `ctmm` can currently use and standardize them. HDOP values become `HDOP` unless an UERE value is specified, in which case the two are combined into an `HERE` column. In the near future, if HDOP is missing and number of satellites is present then an approximate `HDOP` column will be made.

[2017-09-07 14:44] xhdong-umd commented on #30
So you feel it's easier to use a date picker instead of dragging on the histogram? Is it because the mouse selection is difficult to get specific dates? You can drag a range first, then move the range left and right, or only move one end a little bit.

Currently a lot of things will update when the mouse selection on histogram changed. Ideally I will want the selection on histogram to sync with da

[2017-09-07 14:46] xhdong-umd commented on #29
So after import the column name will be just `HDOP`, this is all I need.

When the columns are combined into `HERE`, will a HERE = 1 work for individuals without this column?

[2017-09-07 14:54] chfleming commented on #29
Unfortunately an `HERE=1` column would be bad. `HDOP` is proportional error. `HERE` is absolute (calibrated) error.

[2017-09-07 14:58] xhdong-umd commented on #29
Will `HERE=0` work?

[2017-09-07 15:04] chfleming commented on #29
No, I only have an `HERE` column when calibrated errors are specified. `HERE=0` would correspond to measurably zero error in the data.

[2017-09-07 15:06] xhdong-umd commented on #29
So if one individual have HERE, another don't have it, there is no way to align them with same columns?

The only solution I can think of is to set HERE=NA, and check NA in related code of ctmm.

[2017-09-07 15:11] chfleming commented on #29
I see a couple of options, from easiest to hardest:

1. You could remove `NA` columns from individuals before sending them to `ctmm` functions with a single wrapper function.
2. Various `ctmm` functions could start looking for `NA` in the columns they try to pull. Right now everything I have coded assumed that all data was cleaned in or before `as.telemetry`.
3. Restructure `ctmm-webapp` to store

[2017-09-07 15:21] xhdong-umd commented on #29
A wrapper function is easy, but there are a lot places ctmm functions are involved, some are called by other functions so not obvious at first.

The fundamental difference lies in `ctmm` treat each individual separately, maybe in a list. However to use ggplot with all the individuals I need to merge them into one data frame, and all my code were based on this data frame since it's also easier to s

[2017-09-07 15:43] chfleming commented on #30
I think its very likely that some users will want to input specific dates (e.g., hunting season).

[2017-09-07 18:30] xhdong-umd commented on #30
I added a manual date picker. After dates are selected, click the `set` button to apply. I didn't add hour/minutes because I guess date is enough.

<img width="699" alt="screen shot 2017-09-07 at 2 29 40 pm" src="https://user-images.githubusercontent.com/25039897/30179032-065ee97e-93d9-11e7-8bec-e6660c7109f2.png">

[2017-09-07 19:39] xhdong-umd commented on #29
I found have maintained a telemetry obj list all the time, so I only need to ensure that list don't have NA columns. I have been very careful to make sure the list always sync to the data frame, which sometimes are quite cumbersome.

[2017-09-07 19:52] #27 closed

[2017-09-07 19:52] #21 closed

[2017-09-09 17:16] vestlink opened #31 "export to shapefiles"
Won't work and i get this in the stack trace.

R version 3.4.1 (2017-06-30) -- "Single Candle"
Copyright (C) 2017 The R Foundation for Statistical Computing
Platform: x86_64-apple-darwin15.6.0 (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution details.

  Natural language

[2017-09-11 12:53] xhdong-umd commented on #31
@vestlink What's the exact procedures to reach this error?

I tried the data `Movebank 70397061 - A week in the life of a pygmy blue whale` (I assume it's the same data since the import message was same), fit models, checked home ranges with default first page, and didn't see this error.

[2017-09-13 12:48] #30 closed

[2017-09-13 12:52] xhdong-umd commented on #29
@chfleming I made some simulated data and tested in app. It worked until the home range calculation:

[code]

It seemed that `akde` cannot deal with a list of telemetry objects with different columns.

[code]

[2017-09-13 13:12] xhdong-umd commented on #29
Another question about the data: I assume it to be a csv that include all individuals, so the csv should have a HDOP column, but some individuals don't have value for that column? I created a modified buffalo data file in this format, with `Cilla` and `Gabs` have HDOP value. Hoever `as.telemetry` only kept the HDOP column for `Cilla`.

[2017-09-13 13:26] chfleming commented on #29
@NoonanM is this the bug you found recently? It arose from some changes where `as.telemetry` was dropping rows/individuals with missing columns and now it isn't. I'm going to fix it today.

@xhdong-umd The Movebank CSV may or may not have an HDOP column. You can email me (or link to) the fake data and I will take a look at that. HDOP should only be dropped when its NA valued.

[2017-09-13 13:33] xhdong-umd commented on #29
@chfleming To save a data set with variable columns in Movebank CSV, we have to have a HDOP column in header, and write NA or empty values for individuals without HDOP, right? CSV cannot handle variable columns in same file.

I attached the csv file here.
[varied_buffao.csv.zip](https://github.com/ctmm-initiative/ctmm-webapp/files/1299566/varied_buffao.csv.zip)

[2017-09-13 15:49] vestlink commented on #31
@xhdong-umd I was using my 70397061  Ovis aries, Nordøsterdalen, Norway data.

I think there must be something wrong with the dataset.

101684640 | Ovis aries, Hol, Buskerud, Norway works fine...

[2017-09-13 16:02] xhdong-umd commented on #31
It seemed that there was some errors in generating the polygons for home range. Which individual did you choose in the test? I guess it was not in first page which I tested.

The data I used came from a movebank export before, which is the 70397061 data but with fewer columns.

[2017-09-13 16:13] vestlink commented on #31
I Think it was the 4th animal

On 13 Sep 2017 18:02, "xianghui dong" <notifications@github.com> wrote:

[2017-09-13 16:28] xhdong-umd commented on #31
I tried again with the 4th animal but didn't see any error. Can you share the data file so I can test on it?

[2017-09-13 17:07] chfleming commented on #29
Fixes for those two issues are up on GitHub.

[2017-09-13 17:24] vestlink commented on #31
[sheep.zip](https://github.com/ctmm-initiative/ctmm-webapp/files/1300234/sheep.zip)

The 70397061 was named 127.0.0.1 when i tried to save it after download

[2017-09-13 17:34] vestlink commented on #31
i think the error occurred when I tried to add 20, 50 and 95 in the % Contour level of Home Range, and then tried to export that shapefile. Mayby the same ID was assigned to each layer (ERROR: invalid class “SpatialPolygons” object: non-unique Polygons ID slot values)

[2017-09-13 18:18] xhdong-umd commented on #31
@chfleming I can reproduce this error:

1. use 70397061 data (127.0.0.1 file in sheep.zip above), select the 4th animal
2. fit model, calculate home range
3. add `20, 50, 95` to Contour level, export shapefile.

I found `50, 95` is working fine. I noticed that `20` actually are not shown in the plot (maybe not valid?).

[2017-09-13 18:35] xhdong-umd commented on #29
@chfleming I installed the latest version but still got [same error on `rbind`](https://github.com/ctmm-initiative/ctmm-webapp/issues/29#issuecomment-329157867). Could it be [this line](https://github.com/ctmm-initiative/ctmm/blob/master/R/kde.R#L405)?

[2017-09-13 19:19] chfleming commented on #29
I used the wrong variable name in one line. Its tested to work on a case that failed before recompiling.

[2017-09-13 20:47] chfleming commented on #31
Seems to work fine now.

[2017-09-14 21:39] regan-sarwas opened #32 "Shapefile Export fails with multiple models selected"
Stack trace on console:
[code]

Steps to reproduce:

1.  open [hosted app](https://ctmm.shinyapps.io/ctmmweb/) (stack trace is from 18a6b21a2a8c2cf469df22fdda43648fed60e1ed)
2. Select `Use Sample of Buffalo Data`
3. Select `Cilla`
4. Fit Model
5. Select both `OU anisotropic` and `OUF anisotropic` models
6. Preview 2 home range plots
7. Click `Export Shapefiles`

Shapefile export works fine with mu

[2017-09-15 13:50] xhdong-umd commented on #29
I verified and it seemed to be working now.

[2017-09-15 13:50] #29 closed

[2017-09-15 14:28] xhdong-umd commented on #31
I verified it too. Thanks!

[2017-09-15 14:28] #31 closed

[2017-09-15 14:30] xhdong-umd commented on #32
Thanks for the report! The code used individual name as shapefile name. I have updated it to include the model name and tested it works.

[2017-09-15 14:30] #32 closed

[2017-09-15 17:38] regan-sarwas commented on #32
@xhdong-umd, Thanks for the speedy fix.  It works great.

[2017-09-15 17:47] regan-sarwas opened #33 "Session crashes when fitting a model"
Stack Trace:
[code]

Reproduce with:
1. Use the current master or
  `$ git checkout` 55913c9 (the prior commit e2d7543 works fine)
2. Select 100 samples of buffalo Cilla  (others fail as well)
3. Switch to Model Selection page
4. Click Fit Model button
  Browser window goes grey, and needs to be reloaded

[2017-09-15 17:53] xhdong-umd commented on #33
Yes I found the same error in my windows virtual machine test. I added a dependency package `crayon` to print console message with color, which need to be installed from github instead CRAN. I have fixed `run.R` script to make sure this, your test was before that fix.

You can try the newest version, it should be fixed.

Sadly, windows console doesn't support ANSI color so you will not see them in

[2017-09-15 17:54] #33 closed

[2017-09-15 18:12] regan-sarwas commented on #33
Oops.  My mistake.  Thanks. I had loaded all the packages on my development machine, and was running the app directly without sourcing `run.R`.  It works fine when I source `run.R`.

As a side node, `r-lib/crayon` on CRAN is not available for R3.4.1, so you need to install from github as done in `run.R`.

[code]

[2017-09-15 18:20] xhdong-umd commented on #33
Yes, `run.R` install from github. So even if you are running locally, it's suggested to run `run.R` at least once to install the dependency packages first.

Ideally I can put some code in the app so it will try to install from github for these special packages. However installing lots of packages in one run often met problems, and I found it's easier to install github packages separately, since th

[2017-09-15 20:54] xhdong-umd commented on #33
I just found that the [newest RStudio preview version](https://www.rstudio.com/products/rstudio/download/preview/) in windows should support ANSI color in console. I haven't verify in my windows VM yet, but I guess the color message should work if you install the newest version.

[2017-09-15 20:58] regan-sarwas commented on #33
Good to know, thanks.  I do most of my work on a Mac, and the color looks good there.

[2017-09-19 17:01] xhdong-umd commented on #17
@chfleming I'm working on the new `variogram.fit` code. The zoom slider used `1+log(fraction,b)` with `b=4` (probably because manipulate doesn't support log slider), but the shiny version is using log slider and base 10. To use the `variogram.fit.backend`, I need to convert the values for zoom slider back to log 10 first.

Can you add a parameter `b=4` to `variogram.fit.backend`(and remove`b<-4` i

[2017-09-19 17:28] xhdong-umd commented on #17
Why don't we just add a `name` to data frame instead of row.names? Of course there is no real difference between a name column and row.names, I'm just wondering.

[2017-09-19 18:50] xhdong-umd commented on #17
I think `storer` is already in good shape. We need to transfer slider values to this function, and it's better to transfer explicitly. You will call it with manipulate sliders, and I will call it with shiny slider values, so I think the current format is optimal.

Though I think this line `fraction <- function(z=z) { b^(z-1) }` should be inside `variogram.fit` instead of backend, because shiny app

[2017-09-19 19:43] chfleming commented on #17
No particular reason for the row names instead of a "name" column.

The `fraction` function can be ignored by you for now, and I can move that code over.

The only thing I am unhappy with in `storer()` is that I couldn't figure out how to get it to work in manipulate without an explicit argument list.

[2017-09-20 00:25] xhdong-umd commented on #17
I think an explicit argument list is unavoidable after the abstraction. manipulate works by substituting variables in first expression with control variables in 2nd expression, and update the 1st expression when the control variables (sliders etc) changed. Once we extract backend from manipulate code, `storer` have to take them from outside since they are not in the environment of backend function

[2017-09-20 00:52] chfleming commented on #17
I'm not sure that I understand, but the `data.frame DF` should only specify parameters that need to be controlled, and others can be left `NULL` and aren't used. This is all determined by the structure of the `CTMM` object (fed through `vargiogram.guess`)

[2017-09-20 01:58] xhdong-umd commented on #17
I will have some slider values like `input$tau1`, `input$circle_period` etc, and I need to transfer them in

[code]

However the `tau1` slider may not exist if `range == FALSE`, thus `input$tau1` will be NULL, and `storer` will get a NULL tau1 value.

[2017-09-20 12:51] chfleming commented on #17
Yes, `NULL` assignments won't work, but their default values should be fine if nothing is passed.

I suppose it would be easier to have a list of all possible variable defaults. That way they could be assigned once, reassigned by manipulate/Shiny, and then fed into `storer`.

[2017-09-20 13:04] xhdong-umd commented on #17
Yes, this is what I thought later. I think the defaults came from `backend` environment,  so it'll be easier to assign all variables to default value first inside `storer`(because `storer` have access to that environment), then take non-null values from parameter and override corresponding values.

I'll make a pull request for you to review if it worked.

[2017-09-20 13:20] chfleming commented on #17
I'm thinking it will be easier to run `storer` within `do.call`, with a list of named parameter values taken from the manipulate/Shiny for arguments. That way the unused variables are automatically left at their default values and the code doesn't have to be updated if I add more parameters.

[2017-09-20 13:43] xhdong-umd commented on #17
You are right, this should be a better approach.

[2017-09-20 21:22] xhdong-umd commented on #17
I tried but cannot get it to work with manipulate. The manipulate expression is a special one, where we will use the slider variables but they don't have value yet. I tried this then there is error because the variable doesn't exist:

[code]

This approach can work in shiny app without problem though, since the slider values will be available when the expression was evaluated. So right now I just

[2017-09-20 23:42] xhdong-umd commented on #17
I have finished the shiny app part code using abstracted functions. It's much more cleaner and will work for all future ctmm updates. I also moved the zoom slider to another location to make it clear it's different from other control sliders. The center slider button will not center error slider if it's with value 0, but center it when it have non-zero value.

![Uploading Screen Shot 2017-09-20 at

[2017-09-21 03:15] xhdong-umd commented on #17
I tried again and made `do.call` worked with `storer`. I made another branch `variogram-fit2` so the changes are obvious for you (`variogram-fit` branch have several commits of failed attempts which make it difficult to see real difference).

[2017-09-21 22:03] chfleming commented on #17
Did you still want to move `fraction(z)` from the backend to the manipulate front end, in which case you no longer need the `b=4` arguments?

[2017-09-22 12:55] xhdong-umd commented on #17
I need the `b=4` not for fraction, but the min value of zoom slider, which is b based so I don't have to convert from 4 to 10. `fraction` itself is not needed for `storer`, and I'll pick the initial fraction value from the app page before the fine tune dialog, so the only thing I need were the min of zoom slider.

If the min of zoom slider is not critical, I can just ignore all about fraction and

[2017-09-22 13:15] chfleming commented on #17
You said that you were using a different formula without the shift right? The minimum zoom level I use (IIRC) is just so that a minimum of 10 lags are in the plot.

[2017-09-22 13:19] xhdong-umd commented on #17
I just used 10 as log base and without the shift of `1` (otherwise the max will look weird). If you think  it's OK to use a fixed min zoom value like 0.001 in the app, I can just use that.

[2017-09-22 13:34] chfleming commented on #17
I haven't noticed this before, but I checked in the webapp and the minimum zoom isn't as I would intend. My aim is that when zoomed all the way in, there's still some informative amount of data to see, 10 lags being an arbitrary choice. So if the zoom-fraction formulas are different, then the minimum zoom will be different too.

E.g., if `fraction = 10^zoom`, and `min.fraction = 10*lag[2]/lag[n]`,

[2017-09-22 13:41] xhdong-umd commented on #17
I haven't update the webapp yet, my current code just use `b=10`, then use `min-1` from `backend`, which is just `log10(10*lag[2]/lag[n])`. I think this should be what you intended when base is 10.

Do you also want to change the min of zoom slider in group variogram page? that will need to consider multiple variograms though.

[2017-09-22 13:43] chfleming commented on #17
Ah, ok.

For zooming all at once on the group page, I suppose I would use the smallest minimum.

[2017-09-22 13:45] xhdong-umd commented on #17
So the current setting is fine, but that means I'll need the `b` argument from backend (but I don't need anything special about fraction).

[2017-09-22 14:38] xhdong-umd commented on #17
For the group page, the slider was shared by relative and absolute views. The absolute slider just take a fraction of max y axis. I think the calculated 10 * lag will not apply in absolute mode, so it's difficult to change the slider min in this page.

[2017-09-22 15:23] chfleming commented on #17
Ok, merged. Everything seems to be working great.

[2017-09-22 15:41] xhdong-umd commented on #17
Thanks! I tested and it's working well. I updated the repo and the webapp.

One thing I'm not sure is about the error slider. I assume it will work properly since everything is handled by the ctmm backend function.

Another question is about the user input of UERE in speed outlier page #28. Currently that input is only used to calculate speed outlier. Should that also change something in data, lik

[2017-09-22 17:24] chfleming commented on #28
Continuing from [here](https://github.com/ctmm-initiative/ctmm-webapp/issues/17#issuecomment-331483293): The telemetry error code is just being wrapped right now. There are a few possibilities as to how it works depending on what kind of data people have.

1. Some data are pre-calibrated, and when imported will have an `HERE` or analogous column(s). Having `UERE>0` in the filter and `error>0` in t

[2017-09-22 17:36] xhdong-umd commented on #28
1. For case 1 with pre-calibrated data, is error automatically turned on or that should be an option in UI?

2. Case 2 will become case 1 after user finished the processing, so there is no difference from web app perspective, right?

3. For data without calibration, the UERE input in speed outlier page works as an initial guess, model fitting will give a better value if possible?

[2017-09-22 19:36] chfleming commented on #28
1. Error is not automatically turned on because the fitting/optimization becomes more finicky & slower, more sensitive to the initial guess, and often requiring a double check of the solution. For coarsely sampled large animals, the improvement is also not substantial.
2. Yes, except the possibility of a calibration step.
3. If the model fitting succeeds, then yes, it will be improved and have con

[2017-09-22 19:42] xhdong-umd commented on #28
OK. So what kind of changes do we need in the app about these?

1. Do we want an option to turn on error in model fitting, if data is available?
2. Should the UERE input in speed outlier page have more impact on data and model fitting, or it should be limited for outlier detection only?

[2017-09-22 19:52] chfleming commented on #28
1. This should be automatically supported via the `error` slider in the variogram fit.
2. It could potentially be copied over to the variogram fit as an initial value for the `error`. I'm not sure if that's a good idea for default behavior though.

As for other changes:
- A way to import and treat data as calibration data with the `uere` function, and then storing those results for movement data a

[2017-09-22 19:57] xhdong-umd commented on #28
OK. I will put these on the list. Right now I think I should continue working on the work report feature, then revisit this later.

[2017-09-22 19:58] chfleming commented on #28
Yes, the error work is not even published yet. Working on it now.

[2017-09-22 19:59] #28 closed

[2017-09-27 17:34] xhdong-umd opened #34 "work report - record every meaningful action; save and restore session"
- It will be nice if the app can record every meaningful action made by user, compile with data and plots into a work report.
- I have an even wilder goal which is to generate a reproducible rmarkdown report that can rerun everything later, but that will be a very challenging task and have to wait before other features.

There will be console messages like this

<img width="792" alt="screen shot 2

[2017-09-29 20:40] xhdong-umd commented on #34
There are lots of tricky issues with file related operations.
- I found a bug in RStudio Mac that make file preparation run twice.
- Sometimes zip can cause infinite loop when targeting file name is same, this is caused by bug above.
- I spent some time to adjust theme and style of the report.

Now the zip and download is working well, and the report is looking good. I need to further add the entr

[2017-09-29 20:50] xhdong-umd commented on #34
And here is the control option for report:

<img width="717" alt="screen shot 2017-09-29 at 4 50 23 pm" src="https://user-images.githubusercontent.com/25039897/31035528-5717bcce-a536-11e7-8ad5-2688ac23a8f7.png">

[2017-10-02 08:43] vestlink commented on #31
Works fine now...

[2017-10-04 14:13] xhdong-umd commented on #34
I have recorded every meaningful actions in every page, and tested in shinyapps.io server.
- I only saved the report and plot pictures for now. I can save more data as `csv` or `.Rdata` if you feel any data should be included in the final zip.
- If you clicked several rows in a table in a short time, the app still respond to each click, so there may be update for every click. This is expected sinc

[2017-10-05 20:14] xhdong-umd opened #35 "creating maps for location, home range"
I'm working on maps for animal locations, home range/occurrence polygons.

@chfleming , the `SpatialPolygonsDataFrame.UD` returned the polygon coordinates as relative x,y values (Two-Point Equidistant projection?), not the absolute coordinates. There are reference coordinates in standard parallels of `proj4string`, so supposedly this should work, indeed the shapefiles(which have same structure) ca

[2017-10-05 20:21] xhdong-umd commented on #35
OK, I found I can reproject the data with `spt_p <- spTransform(spt, CRS("+proj=longlat +datum=WGS84"))`. Though I need to make sure this is correct usage since these projections, datums, coordinate systems are quite complex.

[2017-10-05 23:24] chfleming commented on #35
That looks right for long-lat. Generally, you want to get things into the same projection as the background map/raster. I have never found a way in R to plot rasters in a non-native projection, or even just to rotate a raster.

[2017-10-11 14:45] xhdong-umd commented on #34
I'm working on preview report in hosted version. There are some more limitations of this method.
- the shinyapps run in https protocol, and you cannot open a local file with `file://` protocol for security reasons
- shiny app do have access to a folder inside app folder, so I can put the report file there and open it
- however this folder is shared by all users/session of app. That means if we use

[2017-10-11 16:51] xhdong-umd commented on #34
I finished the changes on work report and updated the hosted app:
- the `on/off` switch is moved to first page, local data import box. Logically it apply to all case, not just local data import, but this is the best location we can have in first page. Putting it into a separate box will result a unbalanced layout.

<img width="709" alt="screen shot 2017-10-11 at 12 45 10 pm" src="https://user-imag

[2017-10-11 17:58] chfleming commented on #34
That looks like a good solution.

I don't know what @jmcalabrese thinks, but I think it might be useful to also have a "canonical" report that has final data, final selected model, final outputs, without track of all choices made.

[2017-10-11 18:11] xhdong-umd commented on #34
Yes all the intermediate steps may be a little bit overwhelming. Though it'll will be difficult to separate the steps needed for the final result and other steps. Some steps that changed data need to be included, like
- time subset
- outlier removal
- individual selection changes

For the data to be included in the download, what should we include, other than plot png/pdf?
- I think it's better to

[2017-10-11 18:13] chfleming commented on #34
A canonical structure like that could also serve as a useful format for saving & loading sessions.

[2017-10-11 18:18] xhdong-umd commented on #34
Previously I thought it's difficult to load session because a lot of data involved and we need to maintain consistence when some data is loaded.

Now I realize it's still possible but it need to be in a limited way, only the data, model fitting results, home ranges/occurrence can be restored. These should be the primary target of restore session because they are the time consuming steps.

[2017-10-12 20:34] xhdong-umd commented on #34
To restore a session is still quite tricky. A lot of values are hold in reactive expressions, which will update automatically with input changes, and it's not supposed to be overwritten.

For example I can overwrite home range result anyway, but I also need to update some user input, like the models selected in the model summary table. There is no guarantee on the order of changes on model selecte

[2017-10-13 20:21] xhdong-umd commented on #34
The cache mechanism worked in my test but didn't work in shiny app. For some reason the hash value of a function changed after parallel model fitting. I'm trying to reproduce the bug and report to the `digest` author.

[2017-10-14 01:58] xhdong-umd commented on #34
It's difficult to fix the problem on digest (Shiny + parallel can be tricky). I found I can work around the issue by creating a wrapper function to move function object out of parameters.

[2017-10-16 17:29] xhdong-umd commented on #34
With the work around I have made the cache mechanism work in app. If fit models/home range/occurrence was run with exactly same input again in one session, the later run will be finished instantly.  So we can save session data include the cache data, and restore session will also restore cache, then these process can be finished quickly.

There are some tricky issues with data update though, since

[2017-10-19 16:29] xhdong-umd commented on #34
- Previously I thought it's almost impossible to restore session given the interactive nature of the app.
- Later I realized I can restore some data without breaking the data consistency if I limit the data to be saved, also restore some data naturally by imitating the user action:
  - Some dynamic values should not be overridden with restored values, like the current selected individuals data whi

[2017-10-19 16:41] NoonanM opened #36 "Overlap"
Are there any plans to implement the overlap() function? My guess is a lot of users would want to use this function for subsequent analyses and it would be good to provide the option within the app.

[2017-10-19 16:53] xhdong-umd commented on #36
@chfleming @jmcalabrese What's the work flow you have in mind?

I saw `overlap` can be applied to `A list of ctmm fit, telemetry, or aligned UD objects`. So it can be
- telemetry overlap for current selected individuals
- overlap for fitted models
- aligned home range
- aligned occurrence

There could be a button in each page, or one button to generate all available overlaps for current selected i

[2017-10-19 17:26] xhdong-umd commented on #34
The current UI for report/session is as follows:

<img width="719" alt="screen shot 2017-10-19 at 1 23 34 pm" src="https://user-images.githubusercontent.com/25039897/31784722-bad5f434-b4d0-11e7-89f3-87ed016653e4.png">

It make senses to move the `Load Session` button to first page of import. Though that will make the `local import` box too busy, and the report box unbalanced.

Another option is to

[2017-10-19 18:25] chfleming commented on #36
You want the UD overlap only for now, after home range-analysis.

If you calculate all of the UDs on the same grid by feeding them all into `akde()` at once, then you can more quickly calculate UD overlap from the existing UD objects (+ fit object argument).

[2017-10-19 18:44] NoonanM commented on #36
Most appropriate would probably be an 'Overlap' tab since it's a tangential analysis that people don't have to do, but many will probably want to. But I leave that choice to @chfleming and @jmcalabrese.

My guess is users wanting to estimate overlap will generally use all individuals included in the Home Range tab.

Output is three matrices. I've found visualizing them via the attached ggplot scri

[2017-10-19 19:51] xhdong-umd commented on #34
There is a bug with `zip` package I used (R `utils::zip` is not platform independent), which created an invalid zip when the folder to be compressed is empty. I have raised the issue with the package author.  In the same time there is no real harm about this, just an error message in console when restoring this zip.

[2017-10-19 21:18] xhdong-umd commented on #34
I may need to further test the session restoration. Sometimes it seemed that it didn't take effect.

[2017-10-19 21:38] xhdong-umd commented on #34
Turned out that `unzip` under windows have problem unpacking zip created by `zip::zip`. I need further test about the problem.

[2017-10-20 14:56] xhdong-umd commented on #34
Interestingly, I tested again in windows 10 VM, Linux VM, hosted mode, and there is no problem so far. The cached data can be loaded and used properly.

One thing to note is that the downloaded file can take some space. It's common to have about 10M zip session data.

I'll move to work on map now, and test with my home pc windows later.

[2017-10-23 18:11] NoonanM opened #37 "Time subsetting"
When using the current version of the hosted web app, the time subsetting feature is not functioning.

Attached is a screenshot of the error
![screen shot 2017-10-23 at 2 10 53 pm 2](https://user-images.githubusercontent.com/26824892/31905392-0c1dd4c8-b7fc-11e7-9e26-2a2edd440fd9.png)

[2017-10-23 18:14] xhdong-umd commented on #37
@NoonanM You need to select single animal for this page. All other pages will react to current selected animals (or current page in the animal table if nothing selected), but time subsetting is difficult to work with multiple animals, so there is this condition.

This is explained in the red notification message and help window.

[2017-10-23 18:15] NoonanM opened #38 "Individual Plotting"
When plotting individual data on the 'Visualization' tab the app generates an error. See attached screen shot.

To reproduce the error, select "Use Sample of Buffalo Data", set n to 100, and attempt visualization of individual data.

![screen shot 2017-10-23 at 2 13 03 pm 2](https://user-images.githubusercontent.com/26824892/31905487-54da7dd8-b7fc-11e7-8fc2-f36b00f804f6.png)

[2017-10-23 18:17] NoonanM opened #39 "Import data"
When importing data via "Use Sample of Buffalo Data", if the user first sets n = 100, then goes back to change the sample size to eg. n = 500, the app is not updating.

[2017-10-23 18:20] NoonanM commented on #37
@xhdong-umd OK, I see now. Is it possible to add a feature for selecting individuals from that page?

[2017-10-23 18:22] xhdong-umd commented on #37
That will need a table of individuals, which is duplicate from visualization page. User may also want to check the various plots to determine which individual he/she want to subset in time, so I think it's best to still come back to visualization page.

[2017-10-23 18:27] xhdong-umd commented on #39
The app is watching the event of selecting "sample" mode, then read the current value of sample size.

If you are already in "sample" mode, just changing the sample size will not trigger the event thus nothing happened. You can work around this by switch to "upload", change sample size then switch back to "sample" mode.

If this usage is common for users, I can add some code to further watch the s

[2017-10-23 18:30] NoonanM commented on #39
@xhdong-umd I don't think it's going to be common behaviour, but we use this functionality regularly when giving demos of the app.

@chfleming @jmcalabrese What do you think about adaptive "sample" mode?

[2017-10-23 18:33] xhdong-umd commented on #39
If you guys use this frequently I'll add it. I use the sample mode all the time, just didn't change sample size much.

[2017-10-23 18:52] xhdong-umd commented on #38
There is a bug in plot arrangement when the individual count is not divided by the columns. I've fixed the bug, but may push the changes later after the change on data import.

[2017-10-23 18:58] #38 closed

[2017-10-23 18:59] xhdong-umd commented on #39
Now the app will observe the update in sample size if already in sample mode. I'm still in the process of updating web app, since it take some time to finish.

[2017-10-23 18:59] #39 closed

[2017-10-24 15:10] chfleming commented on #37
If there isn't going to be an animal selector here, I think the user needs more guidance for the user. Maybe a link back to the visualization tab or maybe better grey out & make inactive tabs that aren't available when the right number of animals aren't selected + when on-mouse-hover over the inactive tabs then tell users what is required for that analysis tab.

[2017-10-24 15:15] xhdong-umd commented on #37
There is a notification message "Please select single animal" that will stay on top of page for quite some time, which should not be missed by user.

I can make the message more specific like "Please select single animal in Visualization".

There is no easy grey out/inactive methods in Shiny that I know. I think the empty boxes should serve similar purpose.

[2017-10-24 19:12] NoonanM commented on #37
If you click on the ?help box, you get all the information you need. Maybe you can add some default text that says something like "More than one individual currently selected. See ?Help box for more information", or even make some of the help text the default view when more than one individual is selected?

[2017-10-24 19:22] xhdong-umd commented on #37
Do you mean show some text inside a box? That's doable but I'm not sure which is better, pop up message or show error information inside a box.

I can also pop up the help window automatically, but that could be a little bit overwhelming when user knew the limit already but forgot to select single individual first.

Another improvement is to switch back to visualization page automatically and show

[2017-10-24 20:21] NoonanM commented on #37
I had the same thought about making the help window pop up automatically, but I think you're right, it would be too much.

Instead of repeating the table from the visualization tab, maybe having a drop down menu of individuals like when you select "Fine-tune" to guesstimate a fit would be a solution? It would make the tab functional on its own without having to back to the visualization tab.

[2017-10-24 20:27] xhdong-umd commented on #37
I still think move back to visualization tab is more useful, otherwise user need to remember which one he/she want by name, sometimes the names are just numbers.

Now the app will switch page automatically, so it's also easier for user. The page switch will definitely catch user's attention and make him/her notice the notification message too.

[2017-10-24 20:38] NoonanM commented on #37
It's a little bit buggy. I select cilla, move to the Time Subset page, and it starts fine, but takes me back to the Visualization page after a few seconds.

Also, now the user has no chance to read the help box on the page before selecting an individual.

[2017-10-24 20:44] xhdong-umd commented on #37
Sorry there was a mistake. Fixing now.

I considered the limit of user cannot read the help page before selecting single individual. I thought if user will read the help page, then everything we are discussing here is not needed.

So the assumption is user often do not read the help before meet this problem. Now user is forced to select single individual first, after that he/she can read the help

[2017-10-25 13:07] xhdong-umd commented on #34
I realized that to view report don't need two steps.

Previously I tried two steps because I want to open a link in hosted mode. That will need the report file generated before the link is ready. However a link in app cannot be session specific, that means we cannot separate different user's report files in a safe way.

So we have to download the report in hosted mode, but that doesn't need a expl

[2017-10-25 16:55] xhdong-umd commented on #36
I'm working on maps now, probably will revisit this after maps are finished.

[2017-10-25 19:06] NoonanM commented on #36
@xhdong-umd That's fine. We are currently working on the paper that will accompany the overlap() function. Ideally we would have the two come out around the same time (app functionality and paper), but the paper is still a few months away from publication so there is plenty of time.

[2017-10-26 12:45] #34 closed

[2017-10-26 12:45] #37 closed

[2017-10-26 13:36] xhdong-umd commented on #12
@jmcalabrese @chfleming Previously I said the ideal way is to make each page into a module, later I realized that will need too many changes in app structure and not practical.

I considered the different options of making the interactive map function available to `ctmm` as follows:
- Wrap the map features into functions and save in single .R file, include it in `ctmm`. However it will be cumberso

[2017-10-26 21:21] xhdong-umd commented on #35
@chfleming @jmcalabrese
I tried two datasets with Carto.com for various options. You can click each link to view them.

I think in general the Carto maps have better performance, and the Here satellite base map is also better.

- [buffalo](https://dracodoc.carto.com/builder/568a6c87-acad-4582-bb2c-2a08906e9268/embed), I didn't take time to put every individual as separate layer yet.
- [gulls with

[2017-10-30 18:34] xhdong-umd commented on #35
I tried to add labels to home range polygons, but only the biggest range label is shown, i.e. all 3 ranges are showing same label. Simulated polygon data don't have this problem, and I didn't find any meaningful difference. I checked the hole status, row names of data slot etc.

I'll just skip the label for now, since it's relative straightforward based on context.

[2017-10-30 20:14] chfleming commented on #35
I will look into it. I just finished fixing some contour labels/bugs and may have done something unintended.

[2017-10-30 20:26] xhdong-umd commented on #35
@chfleming This is probably not problem in ctmm side. I didn't update to the latest ctmm before running the code. I can try to generate some simulated data to find out what caused the problem, and submit bug report to leaflet if it's a bug.